{% extends "base_inner.html" %}

{% load sounds_tags %}

{% block app_body %}
<div class="leftdiv">
    <div class="musicbox">
	{% ifequal soundcollection_list.0.sound_type 'Album' %}
	<h3>Albums</h3>
	{% else %}
	<h3>Podcasts</h3>
	{% endifequal %}
	<div class="fb-like" 
	    data-href="{{ SITE_URL }}{{ request.path }}" 
	    data-send="false" data-width="450">
	</div>
	{% display_sounds_list %}
	{% if is_paginated %}
	<div class="pagenav">
	    {% if page_obj.has_previous %}
	    <a href="?page={{ page_obj.previous_page_number }}" class="more left">Previous</a>
	    {% endif %}
	    {% if page_obj.has_next %}
	    <a href="?page={{ page_obj.next_page_number }}" class="more right">Next</a>
	    {% endif %}
	</div>
	{% endif %}
	<div class="clear"></div>
    </div>
</div>
{% endblock app_body %}
