{% extends "base_inner.html" %}

{% block page_url %}<meta property="og:url" content="http://nigerianvoicebank.com{{ request.path }}" />{% endblock %}

{% load sounds_tags %}

{% block app_body %}
<div class="leftdiv">
    <div class="musicbox">
	{% ifequal soundcollection_list.0.sound_type 'Album' %}
	<h3>Albums</h3>
	{% else %}
	<h3>Podcasts</h3>
	{% endifequal %}
	<div class="addthis_toolbox addthis_default_style">
	    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	    <a class="addthis_button_tweet"></a>
	</div>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5190cafc142b9d5a"></script>
	<!-- AddThis Button END -->
	{% display_sounds_list %}
	{% if is_paginated %}
	<div class="pagenav">
	    {% if page_obj.has_previous %}
	    <a href="?page={{ page_obj.previous_page_number }}" class="more left">Previous</a>
	    {% endif %}
	    {% if page_obj.has_next %}
	    <a href="?page={{ page_obj.next_page_number }}" class="more right">Next</a>
	    {% endif %}
	</div>
	{% endif %}
	<div class="clear"></div>
    </div>
</div>
{% endblock app_body %}
