{% extends "base_inner.html" %}

{% load sounds_tags %}

{% load thumbnail %}

{% load agon_ratings_tags %}

{% block customer_care_banner %}{% endblock %}

{% block app_body %}
<div class="leftdiv">
    <div class="musicbox">
	<h3>
	    {% ifequal soundcollection.sound_type 'Podcast' %}
		<a href="{% url 'podcasts' %}">Podcasts</a> 
	    {% else %}
		<a href="{% url 'albums' %}">Music Box</a> 
	    {% endifequal %}
	    &raquo; {{ soundcollection.artiste }} - {{ soundcollection.title }}</h3>
	<div class="item">
	    <p>
		{% thumbnail soundcollection.art "200x200" crop="center" as sa %}
		<img src="{{ sa.url }}" class="mbox-large"/>
		{% endthumbnail %}
	    </p>
	    <div class="clear pad2"></div>
	    <div class="fb-like" 
		data-href="{{ SITE_URL }}{{ request.path }}" 
		data-send="false" data-width="200">
	    </div>
	</div>
	<div class="item-info">
	    <h3>Info</h3>
	    <p>{{ soundcollection.info }}</p>
	    <div class="clear pad"></div>
	    {% if soundcollection.track_set.all %}
	    <h3>Play</h3>
	    <ul class="item-preview">
		{% for track in soundcollection.track_set.all %}
		<li>
		    <div class="capitalize">{{ track.title }}</div>
		    <span id="audioplayer_{{ track.id }}"></span>
		    <script>	
			AudioPlayer.embed("audioplayer_{{ track.id }}", {
			    soundFile: "{{ MEDIA_URL }}{{ track.track }}",
			    titles: "{{ track.title }}"
			});
		    </script>
		    <!--<a href="{{ track.get_absolute_url }}" class="download-button">Download</a>-->
		    <a href="{{ track.get_absolute_url }}">Download</a> {{ track.download_count }} downloads
		</li>
		{% endfor %}
	    </ul>
	    {% endif %}
	    <div class="clear pad"></div>
	    <h4>Rating:</h4>
	    {% if user.id %}
		<div id="user_rating"></div>
	    {% else %}
	    <p>Please 
		<a href="{% url 'login' %}?next={{ request.path }}">sign in</a> or 
		<a href="{% url 'join' %}?next={{ request.path }}">join</a> to rate.
	    </p>
	    {% endif %}
	    <div class="clear pad"></div>
	    <div class="musicbox">
		<h3>You may also be interested in:</h3>
	        {% display_sounds_excluding soundcollection %}
		<div class="clear"></div>
	    </div>
	    <div class="fb-comments" 
		data-href="{{ SITE_URL }}{{ request.path }}" 
		data-width="480" 
		data-num-posts="10">
	    </div>
	</div>
	<div class="clear"></div>
    </div>
</div>
{% endblock app_body %}

{% block rating_js %}
{% if user.id %}
    {% user_rating_js user soundcollection %}
{% endif %}
{% endblock %}
