{% extends "base.html" %}

{% load vbank_tags %}

{% block app %}
<div class="container-fluid">
  <div class="banner row">
    <div>
      <img src="{{ STATIC_URL }}images/banner.jpg" class="img-responsive">
    </div>
  </div>
</div>

<div class="container">
  <div class="main-actions row">
    <div class="col-md-4">
      <div class="img-rounded main-action">
        <img src="{{ STATIC_URL }}images/main_action.jpg" class="img-responsive img-rounded">
      </div>
    </div>
    <div class="col-md-4">
      <div class="img-rounded main-action">
        <img src="{{ STATIC_URL }}images/main_action.jpg" class="img-responsive img-rounded">
      </div>
    </div>
    <div class="col-md-4">
      <div class="img-rounded main-action">
        <img src="{{ STATIC_URL }}images/main_action.jpg" class="img-responsive img-rounded">
      </div>
    </div>
  </div>

  <div class="ad-clients row">
    <div class="clients col-md-9">
      <div class="page-header">
        <h3>Our Clients</h3>
      </div>
      <section class="regular slider">
        <div>
          <img src="{{ STATIC_URL }}images/sample_logo_2.png">
        </div>
        <div>
          <img src="{{ STATIC_URL }}images/sample_logo_2.png">
        </div>
        <div>
          <img src="{{ STATIC_URL }}images/sample_logo_2.png">
        </div>
        <div>
          <img src="{{ STATIC_URL }}images/sample_logo_2.png">
        </div>
        <div>
          <img src="{{ STATIC_URL }}images/sample_logo_2.png">
        </div>
        <div>
          <img src="{{ STATIC_URL }}images/sample_logo_2.png">
        </div>
      </section>
    </div>
    <div class="col-md-3">
      <img src="{{ STATIC_URL }}images/ad.jpg" class="img-responsive">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Most Recent Clips</h3>
        </div>
        <div class="panel-body">
          <ul class="clip-list">
            {% if voiceclip_list %}
              {% display_voiceclip_list %}
            {% else %}
	      <p>There are no recent voice clips.</p>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Top Five Clips</h3>
        </div>
        <div class="panel-body">
          <ul class="clip-list">
            <li>
              <div class="profile-pic">
                <img src="{{ STATIC_URL }}images/sample_profile_pic.jpg">
              </div>
              <div class="clip">
                <audio src="{{ STATIC_URL }}clips/ara.mp3" preload="none"></audio>
                <div class="track-details">
                  Juicy-r <em>by</em> Wait What
                </div>
                <div class="timestamp">
                  Added April 5, 2016, 10:33 p.m.
                </div>
              </div>
              <div style="clear: both"></div>
            </li>
            <li>
              <div class="profile-pic">
                <img src="{{ STATIC_URL }}images/sample_profile_pic.jpg">
              </div>
              <div class="clip">
                <audio src="{{ STATIC_URL }}clips/ara.mp3" preload="none"></audio>
                <div class="track-details">
                  Juicy-r <em>by</em> Wait What
                </div>
                <div class="timestamp">
                  Added April 5, 2016, 10:33 p.m.
                </div>
              </div>
              <div style="clear: both"></div>
            </li>
            <li>
              <div class="profile-pic">
                <img src="{{ STATIC_URL }}images/sample_profile_pic.jpg">
              </div>
              <div class="clip">
                <audio src="{{ STATIC_URL }}clips/ara.mp3" preload="none"></audio>
                <div class="track-details">
                  Juicy-r <em>by</em> Wait What
                </div>
                <div class="timestamp">
                  Added April 5, 2016, 10:33 p.m.
                </div>
              </div>
              <div style="clear: both"></div>
            </li>
            <li>
              <div class="profile-pic">
                <img src="{{ STATIC_URL }}images/sample_profile_pic.jpg">
              </div>
              <div class="clip">
                <audio src="{{ STATIC_URL }}clips/ara.mp3" preload="none"></audio>
                <div class="track-details">
                  Juicy-r <em>by</em> Wait What
                </div>
                <div class="timestamp">
                  Added April 5, 2016, 10:33 p.m.
                </div>
              </div>
              <div style="clear: both"></div>
            </li>
            <li>
              <div class="profile-pic">
                <img src="{{ STATIC_URL }}images/dfhdf.jpg">
              </div>
              <div class="clip">
                <audio src="{{ STATIC_URL }}clips/ara.mp3" preload="none"></audio>
                <div class="track-details">
                  Juicy-r <em>by</em> Wait What
                </div>
                <div class="timestamp">
                  Added April 5, 2016, 10:33 p.m.
                </div>
              </div>
              <div style="clear: both"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog-post">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">From Our Blog</h3>
          </div>
          <div class="panel-body">
            <div class="image">
            </div>
            <div class="body">
              <h4><a href="#">Blog Post Title Blog Post Title Blog Post Title Blog Post Title</a></h4>
              <p>
                Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore...
              </p>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div class="testimonials">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">What Our Clients Say</h3>
          </div>
          <div class="panel-body">
            <blockquote>
              &ldquo;Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&rdquo;<br>
              - Lin Tan Me
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="work row">
    <div class="col-md-12">
      <div class="page-header">
        <h3>Our Work</h3>
      </div>
    </div>
    <div class="col-md-4">
      <iframe src="https://www.youtube.com/embed/beIjNus180M" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <iframe src="https://www.youtube.com/embed/beIjNus180M" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <iframe src="https://www.youtube.com/embed/beIjNus180M" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-9">
      <div class="content box">About Us</div>
    </div>
    <div class="col-md-3">
      <div class="content box">Connect With Us</div>
    </div>
  </div> -->

  <div class="services row">
    <div class="col-md-12">
      <div class="page-header">
        <h3>Services</h3>
      </div>
    </div>
    <div class="col-md-3">
      <img src="{{ STATIC_URL }}images/service_image.jpg" class="img-responsive">
      <p>
        Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
      </p>
      <a class="btn btn-primary btn-xs" role="button" href="#">Read more</a>
    </div>
    <div class="col-md-3">
      <img src="{{ STATIC_URL }}images/service_image.jpg" class="img-responsive">
      <p>
        Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
      </p>
      <a class="btn btn-primary btn-xs" role="button" href="#">Read more</a>
    </div>
    <div class="col-md-3">
      <img src="{{ STATIC_URL }}images/service_image.jpg" class="img-responsive">
      <p>
        Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
      </p>
      <a class="btn btn-primary btn-xs" role="button" href="#">Read more</a>
    </div>
    <div class="col-md-3">
      <img src="{{ STATIC_URL }}images/service_image.jpg" class="img-responsive">
      <p>
        Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
      </p>
      <a class="btn btn-primary btn-xs" role="button" href="#">Read more</a>
    </div>
  </div>
</div>
{% endblock %}
