{% extends "accounts/base.html" %}

{% block app_body %}
    <div class="twelve columns add-bottom">
	<div class="pane add-bottom categories-list rounded">
	    <div class="wrap">
		<h5 class="remove-bottom">Voice Artist Categories</h5>
		<hr class="half-bottom"/>
		<ul>
		{% if categories %}
		    <div class="wrap">
		    {% for category in categories %}
			<li>
			<a href="{{ category.get_absolute_url }}">
			    {% if category.image %}
				<img src="{{ category.image.url }}"/>
			    {% else %}
				<img src="{{ MEDIA_URL }}img/no_cat_image.jpg"/>
			    {% endif %}
				<span>{{ category.name }}</span>
			    </a>
			</li>
		    {% endfor %}
		    <div class="clear"></div>
		    </div>
		</ul>
		{% else %}
		<p class="half-bottom">Please <a href="/admin/">log in</a> to add voice categories</p>
		{% endif %}
	    </div>
	</div>
	<div id="pro" class="three pane columns rounded alpha add-bottom">
	    <div class="wrap">
		<a href="#">
		    <img src="{{ MEDIA_URL }}img/professionals.png" alt="Professionals" title="Professionals"/>
		    <span>Professionals</span>
		</a>
	    </div>
	</div>
	<div id="all" class="four columns add-bottom rounded pane">
	    <div class="wrap">
		<a href="{% url all_clips %}">
		    <img src="{{ MEDIA_URL }}img/all_voice.png" alt="All voice clips" title="All voice clips"/>
		    <span>All voice clips</span>
		</a>
	    </div>
	</div>
	<div class="five columns add-bottom omega">
	    <div class="wrap" style="padding-left: 30px">
		<img src="{{ MEDIA_URL }}img/recording.png" alt="Book for your recording here" 
		    title="Book for your recording here"/>
	    </div>
	</div>
	<div class="six columns alpha pane rounded">
	    <div class="wrap">
		<h5>Most Recent Additions</h5>
		<hr class="half-bottom"/>
		<ul class="clips">
		{% if clips %}
		    {% for clip in clips %}
		    <li>
			<strong>
			    <a href="{{ MEDIA_URL }}{{ clip.voice_clip }}">{{ clip.name }}</a>
			</strong>
			by 
			<a href="{{ clip.user.profile }}">{{ clip.user.first_name }}</a><br/>
			<span>Added {{ clip.date_added }}</span>
		    </li>
		    {% endfor %}
		</ul>
		{% else %}
		<p class="half-bottom">None yet. Sorry!</p>
		{% endif %}
	    </div>
	</div>
	<div class="six columns pane rounded omega">
	    <div class="wrap">
		<h5>Top 5 Voice Clips</h5>
		<hr class="half-bottom"/>
		<ul class="clips">
		{% if clips %}
		    {% for clip in clips %}
		    <li>
			<strong>
			<a href="{{ MEDIA_URL }}{{ clip.voice_clip }}">{{ clip.name }}</a> 
			</strong>
			by 
			<a href="{{ clip.user.profile }}">{{ clip.user.first_name }}</a><br/>
			<span class="small-font">Added {{ clip.date_added }}</span>
		    </li>
		    {% endfor %}
		</ul>
		{% else %}
		<p class="half-bottom">None yet. Sorry!</p>
		{% endif %}
	    </div>
	</div>
    </div>
{% endblock %}
