{% extends "accounts/base.html" %}

{% block app_body %}
{% block app_content %}
    <div class="twelve columns add-bottom">
	<div class="pane add-bottom categories-list rounded">
	    <div class="wrap">
		<h5 class="remove-bottom">Voice Artist Categories</h5>
		<hr class="half-bottom"/>
		<ul>
		{% if categories %}
		    <div class="wrap">
		    {% for category in categories %}
			<li>
			<a href="{{ category.get_absolute_url }}">
			    {% if category.image %}
				<img src="{{ category.image.url }}"/>
			    {% else %}
				<img src="{{ MEDIA_URL }}img/no_cat_image.jpg"/>
			    {% endif %}
				<span>{{ category.name }}</span>
			    </a>
			</li>
		    {% endfor %}
		    <div class="clear"></div>
		    </div>
		</ul>
		{% else %}
		<p class="half-bottom">Please <a href="/admin/">log in</a> to add voice categories</p>
		{% endif %}
	    </div>
	</div>
	<div id="pro" class="three pane columns rounded alpha add-bottom">
	    <div class="wrap">
		<a href="#">
		    <img src="{{ MEDIA_URL }}img/professionals.png" alt="Professionals" title="Professionals"/>
		    <span>Professionals</span>
		</a>
	    </div>
	</div>
	<div id="all" class="four columns add-bottom rounded pane">
	    <div class="wrap">
		<a href="#">
		    <img src="{{ MEDIA_URL }}img/all_voice.png" alt="All voice clips" title="All voice clips"/>
		    <span>All voice clips</span>
		</a>
	    </div>
	</div>
	<div class="five columns add-bottom omega">
	    <div class="wrap" style="padding-left: 30px">
		<img src="{{ MEDIA_URL }}img/recording.png" alt="Book for your recording here" 
		    title="Book for your recording here"/>
	    </div>
	</div>
	<div class="six columns alpha pane rounded">
	    <div class="wrap">
		<h5>Most Recent Additions</h5>
		<hr class="half-bottom"/>
		<ul class="clips">
		{% if clips %}
		    {% for clip in clips %}
		    <li>
			<a href="{{ MEDIA_URL }}{{ clip.voice_clip }}">{{ clip.name }}</a> 
			by 
			<a href="{{ clip.user.profile }}">{{ clip.user.first_name }}</a><br/>
			<span class="small-font">Added {{ clip.date_added }}</span>
		    </li>
		    {% endfor %}
		</ul>
		{% else %}
		<p class="half-bottom">None yet. Sorry!</p>
		{% endif %}
	    </div>
	</div>
	<div class="six columns pane rounded omega">
	    <div class="wrap">
		<h5>Top 5 Voice Clips</h5>
		<hr class="half-bottom"/>
		<ul class="clips">
		{% if clips %}
		    {% for clip in clips %}
		    <li>
			<a href="{{ MEDIA_URL }}{{ clip.voice_clip }}">{{ clip.name }}</a> 
			by 
			<a href="{{ clip.user.profile }}">{{ clip.user.first_name }}</a><br/>
			<span class="small-font">Added {{ clip.date_added }}</span>
		    </li>
		    {% endfor %}
		</ul>
		{% else %}
		<p class="half-bottom">None yet. Sorry!</p>
		{% endif %}
	    </div>
	</div>
    </div>
{% endblock %}
{% block adspace %}
    <div class="four columns half-bottom">
	<img src="{{ MEDIA_URL }}img/caption.png" alt="Nigeria's first online
	voice casting tool" class="half-bottom"/><br/>
	<img src="{{ MEDIA_URL }}img/ad.jpg" alt="Flame Media Works"
	    class="half-bottom"/>
	{% block success_stories %}
	<div class="pane">
	    <div class="wrap">
		<h5>Success Stories</h5>
		<hr class="half-bottom"/>
		<p>Design is based on the inspiration of past accomplishments. On that foundation, we can build upon those achievements to shape the future.</p>
	    </div>
	</div>
	{% endblock %}
    </div>
    <!--<div class="three columns">
	<div class="help half-bottom">
	    <div class="wrap">
		<h5 class="remove-bottom">How-tos</h5>
		<hr class="half-bottom"/>
		<ul class="small-font">
		    <li><a href="help">Getting your voice on the voice bank</a></li>
		    <li><a href="#">Registering on the Voice bank</a></li>
		    <li><a href="#">Payment Process</a></li>
		    <li><a href="#">Voice bank subscription cost</a></li>
		    <li><a href="#">Booking for your recording</a></li>
		    <li><a href="#">What to bring to the recording</a></li>
		    <li><a href="#">Renewals</a></li>
		    <li><a href="#">Uploading your voice clips</a></li>
		</ul>
	    </div>
	</div>
	<div>
	    <div class="wrap">
		<h5 class="remove-bottom">Success Stories</h5>
		<hr/>
		<p>Design is based on the inspiration of past accomplishments. On that foundation, we can build upon those achievements to shape the future.</p>
	    </div>
	</div>
    </div>-->
{% endblock %}
{% endblock %}
