{% extends "forms_base.html" %}

{% block page_title %}&mdash; Sign Up{% endblock %}

{% block pagecss %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-theme.css">
{% endblock %}

{% block pagejs %}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(function() {
    $('#datepicker').datepicker({
      showOn: "both",
      buttonImage: "{{ STATIC_URL }}images/calendar.png",
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd/mm/yy',
      yearRange: '-50:-10'
    });
  });
</script>
{% endblock %}

{% block nav_items %}
{% with urlname=request.resolver_match.url_name %}
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'about' %}">About Us</a></li>
    <li><a href="{% url 'all_clips' %}">Find Voices</a></li>
    <li><a href="#">Blog</a></li>
    <li><a>+234 803 493 0227</a></li>
    <li {% if urlname == 'join' %}class="active"{% endif %}>
      <a href="{% url 'join' %}">
        Sign Up 
        {% if urlname == 'join' %}
          <span class="sr-only">(current)</span></a>
        {% endif %}
      </a>
    </li>
    {% if user.is_authenticated %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {{ user.get_full_name }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ user.profile.get_absolute_url }}">View Profile</a></li>
          <li><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
          <li><a href="{% url 'voiceclips' %}">Upload Voice Clip</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="logout">Log Out</a></li>
        </ul>
      </li>
    {% else %}
      <li><a href="{% url 'login' %}?next={{ request.path }}">Log In</a></li>
    {% endif %}
  </ul>
{% endwith %}
{% endblock %}

{% block form %}
<form method="post" action="{% url 'join' %}?next={{ next }}" class="form-horizontal join">
  <div class="page-header">
    <h1>Sign Up</h1>
  </div>

  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="form-group">
    {{ form.first_name.errors }}
    <label for="{{ form.first_name.id_for_label }}" class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-9">
      {{ form.first_name }}
      <span class="help-text">{{ form.first_name.help_text }}</span>
    </div>
  </div>

  <div class="form-group">
    {{ form.last_name.errors }}
    <label for="{{ form.last_name.id_for_label }}" class="col-sm-3 control-label">Last Name</label>
    <div class="col-sm-9">
      {{ form.last_name }}
      <span class="help-text">{{ form.last_name.help_text }}</span>
    </div>
  </div>

  <div class="form-group">
    {{ form.email.errors }}
    <label for="{{ form.email.id_for_label }}" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      {{ form.email }}
      <span class="help-text">{{ form.email.help_text }}</span>
    </div>
  </div>

  <div class="form-group">
    {{ form.password.errors }}
    <label for="{{ form.password.id_for_label }}" class="col-sm-3 control-label">{{ form.password.label }}</label>
    <div class="col-sm-9">
      {{ form.password }}
      <span class="help-text">{{ form.password.help_text }}</span>
    </div>
  </div>

  <div class="form-group">
    {{ form.gender.errors }}
    <label for="{{ form.gender.id_for_label }}" class="col-sm-3 control-label">{{ form.gender.label }}</label>
    <div class="col-sm-9">
      {{ form.gender }}
      <span class="help-text">{{ form.gender.help_text }}</span>
    </div>
  </div>

  <div class="form-group">
    {{ form.birthday.errors }}
    <label for="{{ form.birthday.id_for_label }}" class="col-sm-3 control-label">{{ form.birthday.label }}</label>
    <div class="col-sm-9">
      {{ form.birthday }}
      <span class="help-text">{{ form.birthday.help_text }}</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
      <button type="submit" class="btn btn-primary">Create Account</button>
    </div>
  </div>
</form>
{% endblock %}
