{% extends "accounts/base.html" %}

{% load adminmedia %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.8.2.custom.css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css"/>
{% endblock %}

{% block custom_js %}
    <script src="{{ MEDIA_URL }}js/jquery-ui-1.8.2.custom.min.js"></script>
    <script src="{{ MEDIA_URL }}js/chosen.jquery.min.js"></script>
    <script>
	$(function()	{
	    $("#id_birthday").datepicker({
		changeMonth: true,
		changeYear: true,
		yearRange: '1930:2005'
	    });
	    $(".chzn-select").chosen();
	});
    </script>
{% endblock %}

{% block app_body %}
    <div class="six columns">&nbsp;</div>
    <form class="five columns" method="post" action="{% url join %}">{% csrf_token %}
	<fieldset class="wrap remove-bottom">
	<legend><h4>Join Nigerian Voice Bank</h4></legend>
	    <hr class="half-bottom"/>
	    <p>
		{{ form.first_name.errors }}
		<label>{{ form.first_name.label }}:</label>
		{{ form.first_name }}
	    </p>
	    <p>
		{{ form.last_name.errors }}
		<label>{{ form.last_name.label }}:</label>
		{{ form.last_name }}
	    </p>
	    <p>
		{{ form.email.errors }}
		<label>{{ form.email.label }}:</label>
		{{ form.email }}
	    </p>
	    <p>
		{{ form.password.errors }}
		<label>{{ form.password.label }}:</label>
		{{ form.password }}
	    </p>
	    <p>
		{{ form.gender.errors }}
		<label>{{ form.gender.label }}:</label>
		{{ form.gender }}
	    </p>
	    <p>
		{{ form.birthday.errors }}
		<label>{{ form.birthday.label }}:</label>
		{{ form.birthday }}
	    </p>
	    <button>Join</button>
	    <p>Already on Nigerian Voice Bank? <a href="{% url login %}">Login</a></p>
	</fieldset>
    </form>
    <div class="six columns">&nbsp;</div>
{% endblock %}
