{% extends "accounts/base.html" %}

{% block app_body %}
<div class="grid_11">
    &nbsp;
</div>
<div class="grid_5">
    <div class="block">
	<form id="join" method="post" action="{% url join %}">{% csrf_token %}
	    <fieldset>
	    <legend>Join Nigerian Voice Bank</legend>
		<p>
		    {{ join_form.first_name.errors }}
		    <label>{{ join_form.first_name.label }}:</label>
		    {{ join_form.first_name }}
		</p>
		<p>
		    {{ join_form.last_name.errors }}
		    <label>{{ join_form.last_name.label }}:</label>
		    {{ join_form.last_name }}
		</p>
		<p>
		    {{ join_form.email.errors }}
		    <label>{{ join_form.email.label }}:</label>
		    {{ join_form.email }}
		</p>
		<p>
		    {{ join_form.password.errors }}
		    <label>{{ join_form.password.label }}:</label>
		    {{ join_form.password }}
		</p>
		<p>
		    {{ join_form.gender.errors }}
		    <label>{{ join_form.gender.label }}:</label>
		    {{ join_form.gender }}
		</p>
		<p>
		    {{ join_form.birthday.errors }}
		    <label>{{ join_form.birthday.label }}:</label>
		    {{ join_form.birthday }}
		    <span class="help">{{ join_form.birthday.help_text }}</span>
		</p>
		<input class="button" value="Join" type="submit"/>
	    <span class="help">Already on Nigerian Voice Bank? <a href="{% url login %}">Login</a></span>
	    </fieldset>
	</form>
    </div>
</div>
{% endblock %}
