{% extends "base.html" %}

{% block app_body %}
    <div class="five columns">&nbsp;</div>
    <div class="five columns">
	<form method="post" action="{% url login %}">{% csrf_token %}
	    <fieldset class="wrap remove-bottom">
		<legend><h4>Login</h4></legend>
		<hr class="add-bottom"/>
		<p>
		    <label class="input">
			{{ form.username.errors }}
			<span>Email</span>
			{{ form.username }}
		    </label>
		</p>
		<p>
		    {{ form.password.errors }}
		    <label class="input">
			<span>{{ form.password.label }}</span>
			{{ form.password }}
		    </label>
		</p>
		<button>Sign In</button> or <a href="{% url join %}">Join Voicebank</a>
	    </fieldset>
	</form>
    </div> 
    <div class="six columns">&nbsp;</div>
{% endblock %}
