{% extends "accounts/index.html" %}

{% block app_body %}
    <div class="twelve columns add-bottom">
	<form id="login" class="alpha pane rounded" method="post" action="{% url login %}">{% csrf_token %}
	    <fieldset class="wrap remove-bottom">
		<h4>Login</h4>
		<hr class="add-bottom"/>
		<p>
		    <label class="input">
			{{ form.username.errors }}
			<span>Email</span>
			{{ form.username }}
		    </label>
		</p>
		<p>
		    {{ form.password.errors }}
		    <label class="input">
			<span>{{ form.password.label }}</span>
			{{ form.password }}
		    </label>
		</p>
		<div><button>Sign In</button> or <a href="{% url join %}">Join
			Voicebank</a></div>
	    </fieldset>
	</form>
    </div>
{% endblock %}
