{% extends "sidebar_base.html" %}

{% block page_title %}&mdash; Password Reset{% endblock %}

{% block main %}
<div class="main-wrap">
  <form method="post" action="">
    <div class="page-header">
      <h2>Reset Password</h2>
    </div>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      {{ form.email }}
    </div>

    <button type="submit" class="btn btn-primary">Send Email</button>
  </form>
</div>
{% endblock %}
