{% extends "core/base.html" %}

{% load thumbnail %}

{% block app_body_content %}
    <div class="three columns">&nbsp;</div>
    <div class="ten columns">
	<div class="wrap">
	    <h4>{{ user_profile.user.get_full_name }}</h4>
	    <hr class="half-bottom"/>
	    {% if user_profile.photo %}
		{% thumbnail user_profile.photo "138x138" crop="center" as up %}
		<img class="add-bottom display-picture" src="{{ up.url }}" width="{{ up.width }}" height="{{ up.height }}"/>
		{% endthumbnail %}
	    {% else %}
		<img class="add-bottom" src="{{ MEDIA_URL }}img/no-image.jpg"/>
	    {% endif %}
	    <h5>About</h5>
	    <hr class="half-bottom"/>
	    <p>{{ user_profile.about }}</p>
	    <h5>Voice Clips</h5>
	    <hr class="half-bottom"/>
	    {% if user_profile.user.voiceclip_set.all %}
	    <ul class="clips add-bottom">
		{% for clip in user_profile.user.voiceclip_set.all %}
		<li>
		    <a href="{{ MEDIA_URL }}{{ clip.voice_clip }}">{{ clip.name }}</a><br/>
		    <span>Added {{ clip.date_added }}</span>
		</li>
		{% endfor %}
	    </ul>
	    {% else %}
	    <p>This user has not uploaded any voice clips.</p>
	    {% endif %}
	    <h5>Voice Bank URL</h5>
	    <hr class="half-bottom"/>
	    <p>
		<a href="http://{{ site }}/{{ user_profile.slug }}">
		http://{{ site }}/{{ user_profile.slug }}
		</a>
	    </p>
	</div>
    </div>
    <div class="three columns">&nbsp;</div>
{% endblock %}
