{% extends "base.html" %}

{% block swf_banner %}{% endblock %}

{% block nav %}
<div class="nav">
    <ul>
	<li><a href="{% url home %}">Home</a></li>
	<li><a href="{% url how %}">How it works</a></li>
    {% if user.is_authenticated %}
	<li><a href="{% url profile_edit %}">Profile</a></li>
	<li><a href="{% url logout %}">Logout</a></li>
    {% else %}
	<li><a href="{% url join %}">Join</a></li>
	<li><a href="{% url login %}">Login</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}

{% load thumbnail %}

{% block app_body %}
<div class="leftdiv">
    <div class="tabbed">
	<div class="tab_container">
	    <div class="tab_content" id="tab-1">

		<div class="pro-info">
		    <h3>{{ user_profile.user.get_full_name }}</h3>
		    {% if user_profile.photo %}
			{% thumbnail user_profile.photo "97x94" crop="center" as up %}
			    <img src="{{ up.url }}" width="{{ up.width }}"
			    height="{{ up.height }}" class="profile"/>
			{% endthumbnail %}
		    {% else %}
			<img src="{{ MEDIA_URL }}img/profile.jpg" class="profile"/>
		    {% endif %}

		    <h3>Gender</h3>
		    <p>
			{% if user_profile.gender == "M" %}
			Male
			{% else %}
			Female
			{% endif %}
		    </p>

		    <h3>Age</h3>
		    <p>{{ age }}</p>

		    <h3>Booking</h3>
		    <p>{{ user_profile.phone_number }}</p>

		    <h3>Location</h3>
		    <p>{{ user_profile.location }}</p>

		    <h3>Voice Bank URL</h3>
		    <p>
			<a href="{{ user_profile.get_absolute_url }}">
			    http://{{ site }}/{{ user_profile.slug }}
			</a>
		</div>

		<div class="pro-details">
		    <h3>About</h3>
		    <p>{{ user_profile.about }}</p>
		    
		    <h3>Experience</h3>
		    <p>{{ user_profile.experience }}</p>

		    <h3>Skills</h3>
		    <p>{{ user_profile.skills }}</p>

		    <h3>Voice Clips</h3>
		    <div class="feature">
			<ul>
			{% for clip in user_profile.user.voiceclip_set.all %}
			    {% if clip.is_active %}
				<li>
				    <span>{{ clip.name }}</span><br/>
				    <span class="date">Added {{ clip.date_added }}</span><br/>
				    <span id="audioplayer_{{ clip.id }}">{{ clip.name }}</span>
				    <script>
					AudioPlayer.embed("audioplayer_{{ clip.id }}", {
					    soundFile: "{{ MEDIA_URL }}{{ clip.voice_clip }}",
					    titles: "{{ clip.name }}"
					});
				    </script>
				</li>	    
			    {% endif %}
			{% endfor %}
			</ul>
		    </div>
		</div>
	      
	    </div>

	</div>
    </div> <!--/tabbed-->
</div>
{% endblock %}
    <div class="pane rounded half-bottom">
	<div class="wrap">
	    <h4>{{ user_profile.user.get_full_name }}</h4>
	    <hr class="half-bottom"/>
	    {% if user_profile.photo %}
		{% thumbnail user_profile.photo "138x138" crop="center" as up %}
		<img class="add-bottom display-picture" src="{{ up.url }}" width="{{ up.width }}" height="{{ up.height }}"/>
		{% endthumbnail %}
	    {% else %}
		<img class="add-bottom" src="{{ MEDIA_URL }}img/no-image.jpg"/>
	    {% endif %}
	    <p>
		<strong>Gender:</strong>
		{% if user_profile.gender == "M" %}
		Male
		{% else %}
		Female
		{% endif %}
		<br/>
		<strong>Age:</strong> {{ age }}
	    </p>
	    <h5>About</h5>
	    <hr class="half-bottom"/>
	    <p>{{ user_profile.about }}</p>
	    <h5>Voice Clips</h5>
	    <hr class="half-bottom"/>
	    <!-- This should display only approved clips -->
	    {% if user_profile.user.voiceclip_set.all %}
	    <ul class="clips add-bottom">
		{% for clip in user_profile.user.voiceclip_set.all %}
		<li>
		    <strong>
			<a href="{{ MEDIA_URL }}{{ clip.voice_clip }}">{{ clip.name }}</a><br/>
		    </strong>
		    <span>Added {{ clip.date_added }}</span>
		</li>
		{% endfor %}
	    </ul>
	    {% else %}
	    <p>This user has not uploaded any voice clips.</p>
	    {% endif %}
	    <h5>Voice Bank URL</h5>
	    <hr class="half-bottom"/>
	    <p>
		<a href="http://{{ site }}/{{ user_profile.slug }}">
		http://{{ site }}/{{ user_profile.slug }}
		</a>
	    </p>
	    <h5>Contact/Booking</h5>
	    <hr class="half-bottom"/>
	    <p>
	    {% if user_profile.phone_number %}
		Call {{ user_profile.phone_number }}
	    {% else %}
		This user has not provided a phone number.
	    {% endif %}
		<br/>
		Email: <a href="mailto:{{ user.email }}">{{ user_profile.user.email }}</a>
	    </p>
	</div>
    </div>
