{% extends "accounts/profile.html" %}

{% block profile_display %}
    <div class="grid_16">
	<div class="box">
	    <form method="post" enctype="multipart/form-data" action="{% url profile_edit %}">{% csrf_token %}
		<fieldset>
		    <legend>Edit Profile</legend>
		    {{ form.user.as_hidden }}
		    <p>
			{{ form.photo.errors }}
			<label>{{ form.photo.label }}:</label>
			{{ form.photo }}
		    </p>
		    <p>
			{{ form.first_name.errors }}
			<label>{{ form.first_name.label }}:</label>
			{{ form.first_name }}
		    </p>
		    <p>
			{{ form.last_name.errors }}
			<label>{{ form.last_name.label }}:</label>
			{{ form.last_name }}
		    </p>
		    <p>
			{{ form.about.errors }}
			<label>{{ form.about.label }}:</label>
			{{ form.about }}
		    </p>
		    <input class="login button" value="Save" type="submit"/>
		</fieldset>
	    </form>
	</div>	
    </div>
{% endblock %}
