{% extends "sidebar_base.html" %}

{% block page_title %}&mdash; My Profile{% endblock %}

{% load vbank_tags %}

{% load thumbnail %}

{% block pagejs %}
<script src="//cdn.rawgit.com/imsky/holder/master/holder.js"></script>
{% endblock %}

{% block audiojscss %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/audiojs.css">
<style>
  .audiojs .scrubber {
    width: 44%;
  }
</style>
{% endblock %}

{% block audiojs %}
<script src="{{ STATIC_URL }}audiojs/audio.min.js"></script>
<script type="text/javascript">
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
{% endblock %}

{% block main %}
<div class="main-wrap">
  <div class="my-profile">
    <div class="page-header">
      <h1>{{ profile.user.get_full_name }}</h1>
    </div>

    <div class="photo row">
      <div class="col-md-9">
        <p>
          {% if profile.gender == "M" %}Male{% elif profile.gender == "F" %}Female{% endif %}<br>
          {{ age }} years old<br>
          {% if profile.location %}Lives in {{ profile.location }}<br>{% endif %}
          <a href="{{ profile.get_absolute_url }}">http://{{ site }}/{{ profile.slug }}/</a><br>
        </p>
      </div>
      <div class="col-md-3">
        {% if profile.photo %}
          {% thumbnail profile.photo "150x160" crop="center" as up %}
            <a href="{{ up.url }}" class="thumbnail">
              <img src="{{ up.url }}" height="{{ up.height }}" title="{{ profile.user.get_full_name }}" class="img-responsive">
            </a>
          {% endthumbnail %}
        {% else %}
          <a href="#" class="thumbnail">
            <img src="holder.js/100px160?text=Your Photo Here&theme=social">
          </a>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="page-header">
          <h2>About</h2>
        </div>
        <p class="text">{{ profile.about }}</h2>

        <div class="page-header">
          <h2>Skills</h2>
        </div>
	<p class="text">{{ profile.skills }}</p>

        <div class="page-header">
          <h2>Experience</h2>
        </div>
	<p class="text">{{ profile.experience }}</p>

      </div>
      <div class="col-md-6">
        <div class="page-header">
          <h2>Voice Clips</h2>
        </div>
        
        {% if user_clips %}
          <ul class="clip-list">
            {% for clip in user_clips %}
              <li>{% display_clip clip %}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="text">{{ profile.user.get_full_name }} does not have any voice clips.</p>
        {% endif %}

        <div class="page-header">
          <h2>Booking</h2>
        </div>
        <p class="text">
          To book this artiste, call the Nigerian Voice Bank on <b>0809 279 6787</b> or 
          email <a href="mailto:customercare@nigerianvoicebank.com">customercare@nigerianvoicebank.com</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
