{% extends "sidebar_base.html" %}

{% block page_title %}&mdash; My Profile{% endblock %}

{% load thumbnail %}

{% block main %}
<div class="main-wrap">
  <div class="my-profile">
    <div class="page-header">
      <h1>{{ profile.user.get_full_name }}</h1>
    </div>

    <div class="photo row">
      <div class="col-md-9">
        <p>
          {% if profile.gender == "M" %}Male{% elif profile.gender == "F" %}Female{% endif %}<br>
          {{ age }} years old<br>
          Lives in {{ profile.location }}<br>
          <a href="{{ profile.get_absolute_url }}">http://{{ site }}/{{ profile.slug }}</a><br>
        </p>
      </div>
      <div class="col-md-3">
        {% if profile.photo %}
          {% thumbnail profile.photo "150x160" crop="center" as up %}
            <a href="{{ up.url }}" class="thumbnail">
              <img src="{{ up.url }}" height="{{ up.height }}" title="{{ user.get_full_name }}" class="img-responsive">
            </a>
          {% endthumbnail %}
        {% else %}
          <a href="#" class="thumbnail">
            <img src="holder.js/100px160?text=Your Photo Here&theme=social">
          </a>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="page-header">
          <h2>About</h2>
        </div>
        <div class="page-header">
          <h2>Skills</h2>
        </div>
        <div class="page-header">
          <h2>Experience</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="page-header">
          <h2>Voice Clips</h2>
        </div>
        <div class="page-header">
          <h2>Booking</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
