<p>
    Thank you for joining the Nigerian Voice Bank - Nigeria's first online voice
    casting tool.
    <br/><br/>
    Your profile is not complete until you have uploaded your first
    voice clip or showcase clips and then you can imagine your voice
    being heard by all the advertising companies, radio and TV
    stations in Nigeria. You can upload up to ten voice clips.
    <br/><br/>
    Now that you're a member of the Nigerian Voice Bank, subscribe
    and give your dreams a chance to succeed.
    <br/><br/>
    You can login here: {{ login_url }}
    <br/><br/>
    Here at the Nigerian Voice Bank, we are proud of your talents and we want
    you to be heard.
    <br/><br/>
    Chukwuemeka Onunkwo<br/>
    Concept Developer
    <a href="mailto:conunkwo@nigerianvoicebank.com">conunkwo@nigerianvoicebank.com</a><br/>
    <a href="http://www.nigerianvoicebank.com">http://www.nigerianvoicebank.com</a>
</p>

