{% extends "base.html" %}

{% block app_body %}
    <div id="core_nav" class="grid_16">
	<ul class="nav">
	    <li><a href="{% url welcome %}">Getting Started</a></li>
	    <li><a href="{% url dashboard %}">Dashboard</a></li>
	    <li><a href="{% url voiceclips %}">Voice Clips</a></li>
	    <li><a href="{% url following %}">I&lsquo;m Following</a></li>
	    <li><a href="{% url profile_edit %}">Profile</a></li>
	</ul>
    </div>
    <div class="clear"></div>
    {% block app_body_content %}{% endblock %}
{% endblock %}
