{% extends "core/base.html" %}

{% block nav %}{% endblock %}

{% block app_body_content %}
    <div class="pane rounded add-bottom">
	<div class="wrap">
	    <h4 class="remove-bottom">
		Voice clips in <span class="italic">{{ object.name }}</span> category
	    </h4>
	    <hr class="half-bottom"/>
	    {% if object.voiceclip_set.all %}
	    <ul class="clips">
		{% for clip in object.voiceclip_set.all %}
		    {% if clip.is_active %}
		    <li>
			<strong>
			<a href="{{ MEDIA_URL }}{{ clip.voice_clip }}">
			    {{ clip.name }}</a>
			</strong>
			by 
			<a href="{{ clip.voice_clip.user.profile }}">{{ clip.user.first_name }}</a><br/>
			<span>Added {{ clip.date_added }}</span>
		    </li>
		    {% else %}
		    <p class="half-bottom">None yet. Sorry!</p>
		    {% endif %}
		{% endfor %}
	    </ul>
	    {% else %}
	    <p class="half-bottom">There are no voice clips in this category yet. :-)</p>
	    {% endif %}
	</div>
    </div>
{% endblock %}
