{% extends "base.html" %}

{% block app_body_css %}
    <link href="{{ MEDIA_URL }}css/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block app_body %}
    <div class="grid_4">&nbsp;</div>
    <div class="grid_8">
	<form id="upload" enctype="multipart/form-data" method="post" action="{% url upload_voice_clip %}">{% csrf_token %}
	    <div class=feedback>
	    {% if messages %}
	    {% for message in messages %}
	    <p{% if message.tags %} class="{{ message.tags }}"
		{%endif %}>{{ message }}</p>
		{% endfor %}
	    {% endif %}
	    {{ form.non_field_errors }}
	    </div>
	    <fieldset>
		<legend>Upload Voice Clip</legend>
		{{ form.user.errors }}
		{{ form.user.as_hidden }}
		{{ form.name.errors }}
		{{ form.name.label }}
		{{ form.name }}
		{{ form.voice_clip.errors }}
		{{ form.voice_clip }}
		<button type="submit">Upload</button>
	    </fieldset>
	</form>

	<h1>My Voice Clips</h1>

	{% if clips %}
	    {% for item in clips %}
		<div id="jquery_jplayer_1" class="jp-jplayer"></div>
		<div class="jp-audio">
		    <div class="jp-type-single">
			<div id="jp_interface_1" class="jp-interface">
			    <ul class="jp-controls">
				<li><a href="#" class="jp-play" tabindex="1">play</a></li>
				<li><a href="#" class="jp-pause" tabindex="1">pause</a></li>
				<li><a href="#" class="jp-mute" tabindex="1">mute</a></li>
				<li><a href="#" class="jp-unmute" tabindex="1">unmute</a></li>
			    </ul>
			    <div class="jp-progress">
				<div class="jp-seek-bar">
				    <div class="jp-play-bar"></div>
				</div>
			    </div>
			    <div class="jp-volume-bar">
				<div class="jp-volume-bar-value"></div>
			    </div>
			    <div class="jp-current-time"></div>
			    <div class="jp-duration"></div>
			</div>
			<div id="jp_playlist_1" class="jp-playlist">
			    <ul>
			    <li>{{ item.name }}</li>
			    </ul>
			</div>
		    </div>
		</div>
	    {% endfor %}
	{% else %}
	    <p>You have not uploaded any voice clips</p>
	{% endif %}
    </div>
{% endblock %}

{% block app_body_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jplayer.min.js"></script>
    {% if clips %}
	{% for item in clips %}
	    <script type="text/javascript">
		$(document).ready(function(){

		    $("#jquery_jplayer_1").jPlayer({
			    ready: function () {
				    $(this).jPlayer("setMedia", {
					    mp3: "{{ MEDIA_URL }}{{ item.voice_clip }}"
				    });
			    },
			    ended: function (event) {
				    $(this).jPlayer("play", 0);
			    },
			    swfPath: "/site_media/js",
			    supplied: "mp3"
		    });

		});
	    </script>
	{% endfor %}
    {% endif %}
{% endblock %}
