{% extends "core/base.html" %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css"/>
{% endblock %}

{% block custom_js %}
    <script src="{{ MEDIA_URL }}js/chosen.jquery.min.js"></script>
    <script>
	$(function()    {
	    $(".chzn-select").chosen();
	});
    </script>
{% endblock %}

{% block app_body_content %}
    <div>
	<ul class="tabs">
	    <li><a href="#myvoiceclips">My Voice Clips</a></li>
	    <li><a class="active" href="#uploadvoiceclip">Upload Voice Clip</a></li>
	</ul>
	<ul class="tabs-content rounded">
	    <li id="myvoiceclipsTab">
		<div class="wrap">
		    <ul>
		    {% if clips %}
			{% for clip in clips %}
			<li>
			    <a href="{{ MEDIA_URL }}{{ clip.voice_clip }}">{{ clip.name }}</a><br/>
			    <span class="small-font">Added {{ clip.date_added }}</span>
			</li>
			{% endfor %}
		    {% else %}
			<p class="remove-bottom">It's either you have not uploaded any voice
			clips, or they have not been approved by the
			Administrator.</p>
		    {% endif %}
		    </ul>
		</div>
	    </li>
	    <li class="active" id="uploadvoiceclipTab">
		<form method="post" enctype="multipart/form-data" action="{% url voiceclips %}">{% csrf_token %}
		    {% if messages %}
			{% for message in messages %}
			    <p{% if message.tags %} class="{{ message.tags }}"
			    {%endif %}>{{ message }}</p>
			{% endfor %}
		    {% endif %}
		    <div class="wrap">
			<fieldset class="remove-bottom">
			    <p>
				{{ form.voice_clip.errors }}
				{{ form.voice_clip }}
			    </p>	
			    <p>
				<label class="input">
				    {{ form.name.errors }}
				    <span>{{ form.name.label }}</span>
				    {{ form.name }}
				</label>
			    </p>
			    <p>
				{{ form.language.errors }}
				{{ form.language }}
			    </p>
			    <p>
				{{ form.category.errors }}
				{{ form.category }}
			    </p>
			    <button>Upload</button>
			</fieldset>
		    </div>
		</form>
	    </li>
	</ul>
    </div>
    
{% endblock %}
