{% extends "base.html" %}

{% block swf_banner %}{% endblock %}

{% block app_body %}
<div class="leftdiv">
    <h3>All Voice Clips</h3>

    {% if object_list %}
    <ul>
	{% for object in object_list %}
	<li>
	    <strong>
	    <a href="{{ MEDIA_URL }}{{ object.voice_clip }}">{{ object.name }}</a>
	    </strong>
	    by 
	    <a href="{{ object.user.get_absolute_url }}">{{ object.user.first_name }}</a><br/>
	    <span>Added {{ object.date_added }}</span>
	</li>
	{% endfor %}
    </ul>
    {% else %}
    <p>There are no voice clips yet.</p>
    {% endif %}
</div>
{% endblock %}
