body {
  padding-top: 50px;
}
img {
  width: 100%;
}
.row {
  margin-bottom: 30px;
}
.banner {
  margin-bottom: 50px;
}
.main-action {
  width: 95%;
  margin-bottom: 20px;
}
.box {
  height: 150px;
}
.small-box {
  height: 135px;
  /* margin-bottom: 30px; */
}
.content {
  background: #eee;
}
.first-col {
  margin-left: -15px;
}
.last-col {
  margin-right: -15px;
}
.clip-list {
  height: 300px;
}
.footer {
  margin-bottom: 0;
  height: 200px;
}
