@font-face {
  font-family: DidactGothic;
  src: url('../fonts/DidactGothic.ttf');
}
html, body {
  font-family: 'DidactGothic', Arial, Helvetica, sans-serif;
}
body {
  padding-top: 50px;
}
img {
  width: 100%;
}
.row {
  margin-bottom: 30px;
}
.banner {
  margin-bottom: 50px;
}
.about-banner {
  margin-bottom: 0;
}
.main-action {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.box {
  height: 150px;
}
.small-box {
  height: 135px;
  /* margin-bottom: 30px; */
}
.content {
  background: #eee;
}
.first-col {
  margin-left: -15px;
}
.last-col {
  margin-right: -15px;
}
.clip-list {
  height: 300px;
}
.footer {
  margin-bottom: 0;
  height: 200px;
}

/* Slick */
/* .slider {
    width: 50%;
    margin: 100px auto;
} */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.regular {
  width: 95%;
  margin: 0 auto;
}
