{% extends "base_inner.html" %}

{% load musicbox_tags %}

{% load thumbnail %}

{% load comments %}

{% load agon_ratings_tags %}

{% block customer_care_banner %}{% endblock %}

{% block app_body %}
<div class="leftdiv">
    <div class="musicbox">
	<h3><a href="{% url musicbox_home %}">Music Box</a> 
	    &raquo; {{ album.artiste }} - {{ album.title }}</h3>
	<div class="item">
	    <p>
		{% thumbnail album.art "200x200" crop="center" as aa %}
		<img src="{{ aa.url }}" class="mbox-large"/>
		{% endthumbnail %}
	    </p>
	    <div class="clear pad2"></div>
	    {% for track in album.track_set.all %}
	    <a href="{{ track.get_absolute_url }}" class="download-button">Download</a>
	    {% endfor %}
	    <!--<ul>
		<li>
		    &raquo; <a href="#">Share with Friends</a>
		    <div class="sharepop">
			<ul>
			    <li><a href="">Twitter</a></li>
			    <li><a href="">Facebook</a></li>
			    <li><a href="">Google Plus</a></li>
			</ul>
		    </div>
		</li>
		<li>&raquo; <a href="#comments">2 Comments</a></li>
		<li>&raquo; <strong>No. of plays:</strong> 34</li>
		<li>&raquo; <strong>Downloads:</strong> 56</li>
	    </ul>-->
	</div>
	<div class="item-info">
	    <h3>Info</h3>
	    <p>{{ album.info }}</p>
	    <div class="clear pad"></div>
	    {% if album.track_set.all %}
	    <h3>Play</h3>
	    <ul class="item-preview">
		{% for track in album.track_set.all %}
		<li>
		    <span class="capitalize">{{ track.title }}</span><br/>
		    <span id="audioplayer_{{ track.id }}"></span>
		    <script>	
			AudioPlayer.embed("audioplayer_{{ track.id }}", {
			    soundFile: "{{ MEDIA_URL }}{{ track.track }}",
			    titles: "{{ track.title }}"
			});
		    </script>
		</li>
		{% endfor %}
	    </ul>
	    {% endif %}
	    <div class="clear pad"></div>
	    <h4>Rating:</h4>
	    {% if user.id %}
		<div id="user_rating"></div>
	    {% else %}
	    <p>Please 
		<a href="{% url login %}?next={{ request.path }}">sign in</a> or 
		<a href="{% url join %}?next={{ request.path }}">join</a> to rate.
	    </p>
	    {% endif %}
	    <div class="clear pad"></div>
	    <div class="musicbox">
		<h3>You may also be interested in:</h3>
		<ul class="mbox">
		    {% display_albums_excluding album %}
		</ul>
		<div class="clear"></div>
	    </div>
	    <h3>Comments</h3>
	    <div class="comments" id="comments">
		<div class="comment_list">
		{% render_comment_list for album %}
		</div>
		{% render_comment_form for album %}
	    </div> <!--/comments-->
	</div>
	<div class="clear"></div>
    </div>
</div>
{% endblock app_body %}

{% block rating_js %}
{% if user.id %}
    {% user_rating_js user album %}
{% endif %}
{% endblock %}
