{% extends "base_inner_no_nav_highlight.html" %}

{% load thumbnail %}

{% block app_body %}
<div class="leftdiv">
    <div class="musicbox">
	<h3>Music Box</h3>
	<ul class="mbox">
	    {% for album in album_list %}
	    <li>
		{% thumbnail album.art "110x80" crop="center" as aa %}
		<a href="{{ album.get_absolute_url }}">
		    <img src="{{ aa.url }}" width="{{ aa.width }}" 
		    height="{{ aa.height }}"/>
		</a>
		{% endthumbnail %}
		<span class="capitalize">
		    <a href="{{ album.get_absolute_url }}">{{ album.title }}</a><br/>
		    {{ album.artiste }}
		</span>
		<div class="rating">
		    <div style="width:30%"></div>
		</div>
	    </li>
	    {% endfor %}
	</ul>
	{% if is_paginated %}
	<div class="pagenav">
	    {% if page_obj.has_previous %}
	    <a href="?page={{ page_obj.previous_page_number }}" class="more left">Previous</a>
	    {% endif %}
	    {% if page_obj.has_next %}
	    <a href="?page={{ page_obj.next_page_number }}" class="more right">Next</a>
	    {% endif %}
	</div>
	{% endif %}
	<div class="clear"></div>
    </div>
</div>
{% endblock app_body %}
