
{% load thumbnail %}

{% load agon_ratings_tags %}

<ul class="sounds">
{% for album in album_list %}
    <li id="{{ album.slug }}" class="{% if forloop.counter|divisibleby:5 %}no-margin{% endif %}">
	{% thumbnail album.art "119x90" crop="center" as aa %}
	<a href="{{ album.get_absolute_url }}">
	    <img src="{{ aa.url }}" width="{{ aa.width }}" 
	    height="{{ aa.height }}"/>
	</a>
	{% endthumbnail %}
	<span class="capitalize">
	    <a href="{{ album.get_absolute_url }}">{{ album.title }}</a><br/>
	    {{ album.artiste }}
	</span>
	{% overall_rating album as the_overall_rating %}
	<div class="rating">
	    <div style="width: {{ the_overall_rating }}em"></div>
	</div>
    </li>
{% endfor %}
</ul>
