.audiojs,
.audiojs .play-pause,
.audiojs p,
.audiojs .time
.audiojs .error-message {
  height: 22px;
}

.audiojs {
  width: 100%;
}

.audiojs .play-pause {
  padding: 0 8px 0 0;
}

.audiojs p {
  margin: -3px 0px 0px -1px;
}

.audiojs .scrubber,
.audiojs .progress,
.audiojs .loaded {
  height: 10px;
}

.audiojs .scrubber {
  background: #5a5a5a;
  width: 44.3%;
  margin: 5px;
}

.audiojs .progress {
  width: 0px;
  background: #ccc;
  /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
  background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); */
}

.audiojs .loaded {
  background: #000;
  /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
  background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); */
}

.audiojs .time,
.audiojs .error-message {
  line-height: 22px;
}

.audiojs .time {
  float: left;
}

.audiojs .error-message {
  width: 82%;
  font-size: 10px;
}

.home-clips .timestamp,
.home-clips .track-details {
  line-height: 21px;
  border-bottom: solid 1px #eee;
}

.timestamp,
.track-details {
  clear: both;
  width: 100%;
  padding: 1px 6px;
  color: #000;
  font-size: 11px;
  line-height: 20px;
  border-bottom: solid 1px #ddd;
}

.track-details span {
  text-transform: capitalize;
}

.track-details a {
  color: #222;
  font-size: 11px;
}

.track-details:before {
  /* content: '♬ '; */
}

.track-details em {
  font-style: normal;
  color: #999;
}
