body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}

.dropdown-menu,
.form-control,
.btn {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel', sans-serif;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150% !important;
}

h1, h2, h3 {
  font-weight: bold;
}

img {
  width: 100%;
}

#datepicker {
  width: 89.8%;
  display: inline-block;
}

.ui-datepicker-trigger {
  border: none;
  background: none;
}

/* App */

/* Home */
/* Slick */
/* .slider {
    width: 50%;
    margin: 100px auto;
} */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.regular {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 19px;
}

.banner,
div[class^="col-md-"] {
  margin-bottom: 30px;
}

.main-action {
  width: 95%;
  margin: 0 auto;
}

.panel {
  border: none;
}

.profile-pic {
  float: left;
  width: 20.9%;
}

.blog-post .panel-body {
  padding-bottom: 29px;
}

.blog-post {
  margin-bottom: 30px;
}

.blog-post .image,
.blog-post .body {
  float: left;
}

.blog-post .image {
  height: 80px;
  width: 25%;
  background: #eee;
  margin-right: 15px;
}

.blog-post .body {
  width: 70%;
}

.blog-post .body h4 {
  margin-top: 0;
}

.testimonials {
  background: #f2f2f2;
  height: 247px;
}

.testimonials .slider {
  height: 180px;
  text-align: center;
  margin-top: 20px;
}

.testimonials .slider p {
  font-size: 110%;
}

/* Page Headers */
.page-header {
  margin-top: 0;
}

/* About */
.about-banner {
  margin-bottom: 0;
}

.about {
  background: #add8e6;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.about h3 {
  font-size: 200% !important;
}

.about .col-md-12 {
  margin-bottom: 0;
}

/* Voice Clips */
.clip {
  float: left;
  width: 79.1%;
}

.clip-list {
  background: #c9d8b5;
  padding: 1em;
  color: #fff;
}

.clip-list .page-header {
  margin-bottom: 10px;
}

.clip-list .page-header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.clip-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clip-list ul li {
  margin-bottom: 10px;
  /* background: #eee; */
}

.clip-list ul li:last-child {
  margin-bottom: 0;
}

.clip-list + p {
  line-height: 40px;
  background: #f2f2f2;
  padding-right: 1em;
  text-align: right;
  border-top: solid 1px #eee;
  margin-bottom: 0;
}

.clip-list + p a {
  color: #000;
}

.voiceclips {
  margin-bottom: 50px;
}

.clip-search {
  background: #09c;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}

.voiceclips .col-md-4 h2 small {
  margin-top: 10px;
}

.voiceclips .col-md-8 h3 {
  padding-top: 13px;
}

.voiceclips .col-md-6 {
  margin-bottom: 20px;
}

.voiceclips .profile-pic {
  width: 19%;
}

.voiceclips .clip {
  width: 81%;
}

/* Forms */
.form div[class^="col-md-"] {
  margin-top: 30px;
}

.form .col-md-9 {
  border-right: solid 1px #eee;
}

form {
  margin: 0 auto;
}

.login,
.join {
  margin-bottom: 70px;
  width: 40%;
}

.help-text {
  font-size: 85%;
}

.errorlist {
  color: #e62739;
  font-size: 80%;
  list-style: none;
  padding-right: 1.3em;
  text-align: right;
}

.photo label {
  margin-top: 146px;
}

.photo .col-sm-6 {
  margin-top: 152px;
}

.photo .col-sm-3 .thumbnail {
  margin-bottom: 0;
}

/* Services */

.services {
  background: #faf0e6;
  margin-bottom: 35px;
}

.services .col-md-2 {
  margin-bottom: 0;
}

.service p {
  background: #fafafa;
  padding: 5px 1em 5px 1em;
  margin-top: 15px;
  border-radius: 5px;
}

.service h4 {
  font-size: 130% !important;
  font-weight: bold;
}

.service p,
.about p {
  line-height: 1.8em;
}

.about .btn,
.service .btn {
  font-size: 90%;
}

.service .btn {
  margin-bottom: 10px;
}

/* Work */
/* .work {
  background: #f2f2f2;
}

.work .col-md-12 {
  margin-bottom: 0;
}

.work .col-md-6 {
  margin-bottom: 15px;
}

.work iframe {
  width: 100%;
}

.work .col-md-6 iframe + iframe {
  margin-top: 30px;
} */

/* Footer */
.footer {
  padding-top: 20px;
  margin-bottom: 0;
  color: #fff;
  background: #4d4d4d;
  padding-bottom: 30px;
}

.footer .content {
  width: 91%;
  margin: 0 auto;
}

.footer .links {
  border-bottom: solid 1px #999;
  padding-bottom: 30px;
}

.footer ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer ul li a {
  color: #fff;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.social {
  width: 20%;
  margin: 0 auto;
  padding-top: 20px;
}

.social img {
  width: 50px;
}

/* No Bottom Margin */
