
{% load thumbnail %}

<div class="profile-pic">
  {% with clip.user.profile.photo as p %}
    {% if p %}
      {% thumbnail p "100x100" crop="center" as cp %}
        <img src="{{ cp.url }}">
      {% endthumbnail %}
    {% else %}
      <img src="{{ STATIC_URL }}images/profile_bg.jpg">
    {% endif %}
  {% endwith %}
</div>
<div class="clip">
  <audio src="{{ MEDIA_URL }}{{ clip.voice_clip }}" preload="none"></audio>
  <div class="track-details">
    <span>{{ clip.name }}</span> <em>by</em> <a href="{{ clip.user.profile.get_absolute_url }}">{{ clip.user.get_full_name }}</a>
  </div>
  <div class="timestamp">
    Added {{ clip.date_added }}
  </div>
</div>
<div style="clear: both"></div>
