    <ul class="cliplist">
    {% for clip in voiceclip_list %}
	{% if clip.is_active %}
	<li>
	    <div class="capitalize">{{ clip.name }} by 
		<a href="{{ clip.user.profile.get_absolute_url }}">
		    {{ clip.user.get_full_name }}
		</a>
	    </div>
	    <span id="audioplayer_{{ clip.id }}"></span>
	    <script>
		AudioPlayer.embed("audioplayer_{{ clip.id }}", {
		    soundFile: "{{ MEDIA_URL }}{{ clip.voice_clip }}",
		    titles: "{{ clip.name }}"
		});
	    </script>
	    <div class="date">Added {{ clip.date_added }}</div>
	</li>
	{% endif %}
    {% endfor %}
    </ul>
