{% extends "voice_clips_base.html" %}

{% load vbank_tags %}

{% load thumbnail %}

{% block app %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Voice Clips</h1>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 50px;">
    <div class="col-md-3">
      <div class="page-header" style="margin-top: 0;">
        <h2 style="margin-top: 0;">Refine Search</h2>
      </div>
      <div style="background: #eee; height: 100px;">dfkdfdf</div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <div style="background: #eee; height: 50px; margin-bottom: 30px;">dfhdfd</div>
        </div>
        <div class="col-md-4">
          <div style="background: #eee; height: 50px; margin-bottom: 30px;">dfhdfd</div>
        </div>
        <div class="col-md-4">
          <div style="background: #eee; height: 50px; margin-bottom: 30px;">dfhdfd</div>
        </div>
        <div class="col-md-4">
          <div style="background: #eee; height: 50px; margin-bottom: 30px;">dfhdfd</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
