{% extends "base_inner_no_nav_highlight.html" %}

{% load vbank %}

{% block app_body %}
<div class="leftdiv">
    <h3>All Voice Clips</h3>

    <div class="feature">
	{% if voiceclip_list %}
	    {% display_voiceclip_list %}
	{% else %}
	    <p>There are no voice clips.</p>
	{% endif %}
	{% if is_paginated %}
	<div class="pagenav">
	    {% if page_obj.has_previous %}
	    <a href="?page={{ page_obj.previous_page_number }}" class="more left">Previous</a>
	    {% endif %}
	    {% if page_obj.has_next %}
	    <a href="?page={{ page_obj.next_page_number }}" class="more right">Next</a>
	    {% endif %}
	</div>
	{% endif %}
    </div>
</div>
{% endblock %}
