{% extends "base_inner.html" %}

{% load vbank_tags %}

{% block customer_care_banner %}{% endblock %}

{% block custom_js %}
<script>
$(function()	{
	$('a#profile').addClass('current');
});
</script>
<script src="{{ STATIC_URL }}js/jquery-tabs.js"></script>
{% endblock %}

{% block app_body %}
<div class="leftdiv">
    <div class="t-link">
	<ul>
	    <li><a href="{% url 'profile_edit' %}">Profile</a></li>
	    <li><a href="{% url 'voiceclips' %}">Voice Clips</a></li>
	</ul>
    </div>
    <div class="tabbed">
	{% if messages %}
	    {% for message in messages %}
	    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
	    {% endfor %}
	{% endif %}
	<ul class="tabs">
	    <li><a href="#tab-1">My Voice Clips</a></li>
	    <li><a href="#tab-2">Upload Voice Clip</a></li>
	</ul>

	<div class="tab_container">
	    <div class="tab_content" id="tab-1">
		{% with template='voiceclips' %}
		    {% if voiceclip_list %}
			{% show_user_voiceclips user template %}
		    {% else %}
			{% ifequal template 'voiceclips' %}
			    <p>You've either not uploaded any voice clips, or they have not been approved by the Administrator.</p>
			{% endifequal %}
			{% ifequal template 'profile_detail' %}
			    <p>{{ user.first_name }} has either not uploaded any voice clips, or they have not been<br/> 
			    approved by the Administrator.</p>
			{% endifequal %}
		    {% endif %}
		{% endwith %}
	    </div>
	    <div class="tab_content" id="tab-2">
		<form action="{% url 'voiceclips' %}" enctype="multipart/form-data" method="post" class="profile-edit">{% csrf_token %}
		    <fieldset>
			{{ form.user.as_hidden }}
			<p>
			    {{ form.voice_clip.errors }}
			    <label>{{ form.voice_clip.label }}</label>
			    {{ form.voice_clip }}
			</p>
			<p>
			    {{ form.name.errors }}
			    <label>{{ form.name.label }}</label>
			    {{ form.name }}
			</p>
			<p>
			    {{ form.language.errors }}
			    <label>{{ form.language.label }}</label>
			    {{ form.language }}
			</p>
			<p>
			    {{ form.category.errors }}
			    <label>Category</label>
			    {{ form.category }}
			</p>
			<p>
			    <input type="submit" value="Upload" class="btn">
			</p>
		    </fieldset>
		</form>
	    </div>
	</div>
    </div> <!--/tabbed-->
</div> <!--/leftdiv--> 
{% endblock %}
