{% extends "voice_clips_base.html" %}

{% load vbank_tags %}

{% load thumbnail %}

{% block app %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Voice Clips</h1>
      </div>
    </div>
  </div>

  <div class="voiceclips row">
    <div class="col-md-4">
      <div class="page-header">
        <h2>Refine Search</h2>
      </div>
      <div class="clip-search">dfkdfdf</div>
    </div>
    <div class="col-md-8">
      <div class="row">
        {% if voiceclip_list %}
          {% for clip in voiceclip_list %}
            {% if clip.is_active %}
              <div class="col-md-6">
                {% display_clip clip %}
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <p>There are no voice clips.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
