{% extends "sidebar_base.html" %}

{% block page_title %}&mdash; Upload Voice Clip{% endblock %}

{% block main %}
<div class="main-wrap">
  <form action="" class="form-horizontal" enctype="multipart/form-data" method="post" style="width: 80%">
    <div class="page-header">
      <h1>Upload Voice Clip</h1>
    </div>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.user.as_hidden }}

    <div class="form-group">
      {{ form.voice_clip.errors }}
      <label for="{{ form.voice_clip.id_for_label }}" class="col-sm-3 control-label">
        {{ form.voice_clip.label }}
      </label>
      <div class="col-sm-9">
        {{ form.voice_clip }}
        <span class="help-text">{{ form.voice_clip.help_text }}</span>
      </div>
    </div>

    <div class="form-group">
      {{ form.name.errors }}
      <label for="{{ form.name.id_for_label }}" class="col-sm-3 control-label">
        {{ form.name.label }}
      </label>
      <div class="col-sm-9">
        {{ form.name }}
        <span class="help-text">{{ form.name.help_text }}</span>
      </div>
    </div>

    <div class="form-group">
      {{ form.language.errors }}
      <label for="{{ form.language.id_for_label }}" class="col-sm-3 control-label">
        {{ form.language.label }}
      </label>
      <div class="col-sm-9">
        {{ form.language }}
        <span class="help-text">{{ form.language.help_text }}</span>
      </div>
    </div>

    <div class="form-group">
      {{ form.category.errors }}
      <label for="{{ form.category.id_for_label }}" class="col-sm-3 control-label">
        {{ form.category.label }}
      </label>
      <div class="col-sm-9">
        {{ form.category }}
        <span class="help-text">{{ form.category.help_text }}</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
