{% extends "sidebar_base.html" %}

{% block page_title %}&mdash; Produce{% endblock %}

{% block main %}
<div class="contact row">
	<div class="col-md-5">
		<div class="page-header">
			<h1>Contact Us</h1>
		</div>
    <p>Flame Media Works<br/>
    711 Road, B Close, House 24<br/>
    Festac Town, Lagos.</p>

    <p>Tel: +234 809 279 6787</p>

    <a href="mailto:customercare@nigerianvoicebank.com">customercare@nigerianvoicebank.com</a><br/></p>
	</div>
	
	<div class="col-md-7">
		<div class="main-wrap">
			<form method="post" action="" class="form-horizontal">
				
				<div class="page-header">
	      	<h3>Leave Us A Message</h3>
	    	</div>
				
				{% if messages %}
		      <div class="row">
	          <ul class="messages">
	            {% for message in messages %}
	              <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
	            {% endfor %}
	          </ul>
		      </div>
		    {% endif %}
		    
		    {% csrf_token %}
				{{ form.non_field_errors }}
				
				<div class="form-group">
		      {{ form.name.errors }}
		      <label for="{{ form.name.id_for_label }}" class="col-sm-4 control-label">{{ form.name.label }}</label>
		      <div class="col-sm-8">
		        {{ form.name }}
		        <span class="help-text">{{ form.name.help_text }}</span>
		      </div>
		    </div>
		    
		   	<div class="form-group">
		      {{ form.email.errors }}
		      <label for="{{ form.email.id_for_label }}" class="col-sm-4 control-label">{{ form.email.label }}</label>
		      <div class="col-sm-8">
		        {{ form.email }}
		        <span class="help-text">{{ form.email.help_text }}</span>
		      </div>
		    </div>
		    
		   	<div class="form-group">
		      {{ form.phone_number.errors }}
		      <label for="{{ form.phone_number.id_for_label }}" class="col-sm-4 control-label">{{ form.phone_number.label }}</label>
		      <div class="col-sm-8">
		        {{ form.phone_number }}
		        <span class="help-text">{{ form.phone_number.help_text }}</span>
		      </div>
		    </div>
		    
		   	<div class="form-group">
		      {{ form.comment.errors }}
		      <label for="{{ form.comment.id_for_label }}" class="col-sm-4 control-label">{{ form.comment.label }}</label>
		      <div class="col-sm-8">
		        {{ form.comment }}
		        <span class="help-text">{{ form.comment.help_text }}</span>
		      </div>
		    </div>
				
				<div class="form-group">
		      <div class="col-sm-offset-4 col-sm-8">
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </div>
		    </div>
		  </form>
		</div>
	</div>
</div>
{% endblock %}