{% extends "sidebar_base.html" %}

{% block page_title %}&mdash; About Us{% endblock %}

{% block about %}
{% with urlname=request.resolver_match.url_name %}
  <li {% if urlname == 'about' %}class="active"{% endif %}>
    <a href="{% url 'about' %}">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> About Us
      {% if urlname == 'about' %}
        <span class="sr-only">(current)</span></a>
      {% endif %}
    </a>
  </li>
{% endwith %}
{% endblock %}

{% block banner %}
<div class="container-fluid">
  <div class="about-banner row">
    <div class="content">
      <img src="{{ STATIC_URL }}images/about_banner.jpg" class="img-responsive">
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="about-us">
  <div class="page-header">
    <h1>About Us</h1>
  </div>
  <p>
    We don’t just pride in the fact that we are Nigeria’s first online voice casting site, we are more. 
  </p>
  <p>
    We are a team of creatives, giving life to every script and adding value to every company that collides with us. Our talents are professionals in the act, delivering excellent voice over with the right accents.
  </p>
  <p>
    We go beyond owning the largest online voice over community in Nigeria to being a world class audio Production Company based in Lagos.
  </p>
  <p>
    Our approach to work is global and that is evident in our client base that spans almost every continent in the world with countries such as USA, UK, UAE, Singapore, Lebanon, France and South Africa. 
  </p>
  <p>
    From our creative Den in Lagos we have left our voice prints on brands like Milo, Zoom, HP, Dettol, GE, Panadol, Glo Caf Awards to mention a few.
  </p>
  <p>
    We produce, translate, copy write, localize and even lip sync.
  </p>
  <p>
    That’s who we are. So, how can we be of help to you.
  </p>
  <div class="page-header">
    <h2>NVB Production</h2>
  </div>
  <p>Nigerian Voice Bank is Nigeria's first online voice casting tool.</p>
  <p>
    The Nigerian Voice Bank is an initiative of Flame Media Works and have been designed to cater for advertising agencies, theatrical producers, casting agents, and radio and television producers who require access to an audio database of Nigeria's best voices.
  </p>
  <p>
    The Nigerian Voice Bank desires to create an opportunity for every creative voice talent in Nigeria.
  </p>
  <p>
    The Nigerian Voice Bank is a total voice casting tool where users can easily search for artists using our simplified and direct search options. Every voice on the voice bank is uploaded under a specific category. From the search results, users can listen to the artist's voice clips or download the clips. Users can also contact voice talent directly and book the artist for the recording if they pick an interest on anyone.
  </p>
  
  
  <div class="page-header">
    <h2>Artists</h2>
  </div>
  <p>
    Imagine being contacted for a job you never knew existed and never applied for just because someone heard your voice 
    on the voice bank and liked it. That&apos;s the miracle of having your voice on the Nigerian voice bank. If you are a voice 
    artist, getting your voice on the Nigerian voice bank is the best way to market your talent. Whether you are an 
    independent artist or a managed artist, the Nigerian Voice Bank offers you your own page on the site to showcase your talent.
  </p>
  <div class="page-header">
    <h2>Vision</h2>
  </div>
  <p>
    Our vision is to create a platform where all Nigerian and African voice talents can be heard and equally connect these talents to the best production jobs.
  </p>
  <p>
    To inspire professionalism in the Nigerian voice artistry.
  </p>
  <div class="page-header">
    <h2>Mission</h2>
  </div>
  <ul>
    <li>To create a resourceful and engaging online platform.</li>
    <li>To simplify the process of contacting a voice talent using creative and highly innovative strategies.</li>
  </ul>
  <div class="page-header">
    <h2>Core Values</h2>
  </div>
  <p>Our values are simple;</p>
  <ul>
    <li>Innovation</li>
    <li>Professionalism</li>
    <li>Service Delivery</li>
  </ul>
  <p>To know more about the Voice Bank, please click <a href="{% url 'how' %}">here</a>.</p>
</div>
{% endblock %}