<!DOCTYPE html>
<html>
    <head>
	<meta charset=utf-8" />
	<title>Voice Bank</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/skeleton.css"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css"/>
    </head>
    <body>
	<div class="container">
	    <header>
		<h1 class="five columns"><a href="{% url home %}">Voice Bank</a></h1>
		{% if user.is_authenticated %}
		<ul class="six columns nav offset-by-five remove-bottom">
		    <li><span>{{ user.get_full_name }}</span></a></li>
		    <li><a href="#">Account Settings</a></li>
		    <li><a href="#">Help</a></li>
		    <li><a href="{% url logout %}">Logout</a></li>
		</ul>
		{% else %}
		<ul class="five columns nav offset-by-six remove-bottom">
		    <li><a href="{% url join %}">Join</a></li>
		    <li><a href="{% url login %}">Log In</a></li>
		    <li><a href="#">Take a Tour</a></li>
		    <li><a href="#">Help</a></li>
		</ul>
		{% endif %}
		<hr class="half-bottom"/>
	    </header>
	    {% block app_body %}{% endblock %}
	    <hr class="half-bottom"/>
	    <p class="sixteen columns">&copy; 2011 Nigerian Voice Bank. All rights reserved.</p>
	</div>
    </body>
</html>
