<!DOCTYPE html>
<html>
    <head>
	<meta charset=utf-8" />
	<title>Voice Bank</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/skeleton.css"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css"/>
	{% block custom_css %}{% endblock %}
    </head>
    <body>
	<div class="container">
	    <header>
		<div class="nine columns">
		    <h1><a href="{% url home %}">Voice Bank</a></h1>
		</div>
		<div class="seven columns">
		    <ul class="nav remove-bottom">
		    {% if user.is_authenticated %}
			<li><a href="{% url logout %}">Logout</a></li>
			<li><a href="#">Help</a></li>
			<li><a href="#">Account Settings</a></li>
			<li class="fullname"><a href="{{ user.profile.get_absolute_url }}">{{ user.get_full_name }}</a></li>
		    {% else %}
			<li><a href="#">Help</a></li>
			<li><a href="#">Take a Tour</a></li>
			<li><a href="{% url login %}">Log In</a></li>
			<li><a href="{% url join %}">Join</a></li>
		    {% endif %}
		    </ul>
		</div>
		<hr class="add-bottom"/>
	    </header>
	    {% block app_body %}{% endblock %}
	    <hr class="half-bottom"/>
	    <p class="sixteen columns">&copy; 2011 Nigerian Voice Bank. All rights reserved.</p>
	</div>
	<script src="{{ MEDIA_URL }}js/jquery.js"></script>
	<script src="{{ MEDIA_URL }}js/app.js"></script>
	<!--<script
	    src="http://webplayer.yahooapis.com/player-beta.js"></script>-->
	{% block custom_js %}{% endblock %}
    </body>
</html>
