
{% load event_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset=utf-8" />
	{% block title %}<title>Nigerian Voice Bank</title>{% endblock %}
	<meta name="author" content="" />
	<meta name="copyright" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />	
	<meta property="og:title" content="Nigerian Voice Bank" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://nigerianvoicebank.com" />
	<meta property="og:image" content="http://nigerianvoicebank.com/static/img/ad1.png" />
	<meta property="og:site_name" content="Nigerian Voice Bank" />
	<meta property="fb:admins" content="730545866" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/voice-clip-list.css"/>
	<script src="{{ STATIC_URL }}js/jquery.js"></script>
	<script src="{{ STATIC_URL }}js/slides.min.jquery.js"></script>
	<script src="{{ STATIC_URL }}js/audio-player.js"></script>
	<script>
	    AudioPlayer.setup("{{ STATIC_URL }}swf/audioplayer.swf", {
		width: 297,
		pagebg: "F9F9F9"
	    });
	</script>
    </head>
    <body>
	<div id="fb-root"></div>
	<script>
	    (function(d, s, id)	{
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	    }(document, 'script', 'facebook-jssdk'));
	</script>

	<div class="header">
	    <div class="wrapper">
		<a href="{% url 'home' %}" class="logo">Nigerian Voice Bank</a>
		{% block nav %}
		<div class="nav">
		    <ul>
			<li><a id="home" href="{% url 'home' %}">Home</a></li>
			<li><a id="how" href="{% url 'how' %}">How it works</a></li>
			<li><a id="about" href="{% url 'about' %}">About Us</a></li>
			<li><a id="contact" href="{% url 'contact' %}">Contact Us</a></li>
		    {% if user.is_authenticated %}
			<li><a id="profile" href="{% url 'profile_edit' %}">Profile</a></li>
			<li><a href="{% url 'logout' %}">Logout</a></li>
		    {% else %}
			<li><a id="join" href="{% url 'join' %}">Join</a></li>
			<li><a id="login" href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
		    {% endif %}
		    </ul>
		</div>
		{% endblock nav %}
	    </div>
	</div>

	{% block swf_banner %}
	<div class="banner">
	    <div class="wrapper">
		<div id="slides">
		    <div class="slides_container">
			<img src="{{ STATIC_URL }}img/banner1.jpg" width="720" height="225">
			<img src="{{ STATIC_URL }}img/banner2.jpg" width="720" height="225">
			<img src="{{ STATIC_URL }}img/banner3.jpg" width="720" height="225">
			<img src="{{ STATIC_URL }}img/banner4.jpg" width="720" height="225">
		    </div>
		    <ul class="pagination">
			<li class="current"><a href="#" rel="0" class="one">The Voice Bank Advantage<em></em></a></li>
			<li class=""><a href="#" rel="1" class="two">Voice Clips Recording<em></em></a></li>
			<li class=""><a href="#" rel="2" class="three">Production<em></em></a></li>
			<li class=""><a href="#" rel="3" class="four">Music Box<em></em></a></li>
		    </ul>
		</div>
	    </div>
	</div>
	{% endblock %}

	{% block content %}
	<div class="content">
	    <div class="wrapper">
		{% block app_body %}{% endblock %}
		{% block sidebar %}
		<div class="sidebar">
		    <div class="ad">
			<img src="{{ STATIC_URL }}img/ad1.png"/>
		    </div>
		    {% block customer_care_banner %}
		    <div class="ad">
			<img src="{{ STATIC_URL }}img/customer_care_banner.jpg"/>
		    </div>
		    {% endblock %}

		    {% block events %}
		    <div class="sidein">
			<h3>Upcoming Events</h3>
			{% show_events %}
			<a href="{% url 'events' %}" class="more">See more upcoming events</a>
		    </div> <!--/sidein-->
		    {% endblock %}

		    <div class="sidein">
			<h3>Connect with us</h3>

			<div class="ev">
			    <ul class="connect">
				<li><a
				    href="http://facebook.com/nigerianvoicebank" title="Like us on Facebook" target="_blank">Facebook</a></li>
				<li class="tw"><a href="http://twitter.com/voicebankng" title="Follow us on Twitter" target="_blank">Twitter</a></li>
				<!--<li class="lk"><a href="http://linkedin.com/" title="Join us on LinkedIn" target="_blank">LinkedIn</a></li>
				<li class="gp"><a href="http://plus.google.com/" title="Join us on Google Plus" target="_blank">Google Plus</a></li>
				<li class="yt"><a href="http://youtube.com/"
				    title="View our YouTube channel"
				    target="_blank">YouTube</a></li>-->
			    </ul>
			</div>

		    </div> <!--/sidein-->
		</div> <!--/sidebar-->
		{% endblock %}
	    </div>
	    <div class="clear"></div>
	</div> <!--/content-->
	{% endblock %}
	<div class="footer">
	    <div class="wrapper">

		<p class="left">
		    <ul>
			<li><a target="blank" href="http://www.flamemediaworks.com/"><img src="{{ STATIC_URL }}img/flame.png"/></a></li>
			<li><a href="{% url 'about' %}">About us</a></li>
			<li><a href="{% url 'how' %}">How it works</a></li>
			<li><a href="{% url 'contact' %}">Contact us</a></li>
		    </ul>
		</p>

		<p class="right">
		    &copy; 2013 Nigerian Voice Bank. All rights reserved.
		</p>

	    </div>
	</div> <!--/footer-->
	{% block custom_js %}{% endblock %}
	{% block rating_js %}{% endblock %}
    </body>
</html>
