{% extends "base.html" %}

{% block swf_banner %}{% endblock %}

{% block customer_care_banner %}{% endblock %}

{% block nav %}
<div class="nav">
    <ul>
	<li><a href="{% url home %}">Home</a></li>
	<li><a href="{% url how %}">How it works</a></li>
    {% if user.is_authenticated %}
	<li><a href="{% url profile_edit %}">Profile</a></li>
	<li><a href="{% url logout %}">Logout</a></li>
    {% else %}
	<li><a href="{% url join %}">Join</a></li>
	<li><a href="{% url login %}">Login</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}

{% block app_body %}

<div class="leftdiv">

    <h3>Book your recordings here</h3>

    {% if user.is_authenticated %}
    <form>

	<p>
	    {{ form.name_on_teller.errors }}
	    <label>{{ form.name_on_teller.label }}</label>
	    {{ form.name_on_teller }}
	</p>
	<p>
	    {{ form.date_of_payment.errors }}
	    <label>{{ form.date_of_payment.label }}</label>
	    {{ form.date_of_payment }}
	<p>
	<p>
	    {{ form.bank_name.errors }}
	    <label>{{ form.bank_name.label }}</label>
	    {{ form.bank_name }}
	</p>
	<p><input class="btn" type="submit" value="Submit"></p>

    </form>
    {% else %}
    <p>Only users can book recordings. Join <a href="{% url join %}">here</a>.</p>
    {% endif %}

</div>
{% endblock %}
