{% extends "base.html" %}

{% load thumbnail %}

{% block nav %}
<div class="nav">
    <ul>
	<li><a href="{% url home %}">Home</a></li>
	<li><a href="{% url how %}">How it works</a></li>
    {% if user.is_authenticated %}
	<li><a href="{% url profile_edit %}">Profile</a></li>
	<li><a href="{% url logout %}">Logout</a></li>
    {% else %}
	<li><a href="{% url join %}">Join</a></li>
	<li><a href="{% url login %}">Login</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}

{% block swf_banner %}{% endblock %}

{% block events %}{% endblock %}

{% block app_body %}
<div class="leftdiv">
    <div class="inner">
	<h3>Events</h3>
	{% if events %}
	    {% for event in events %}
	    <div class="ev">
		{% thumbnail event.image "50x50" crop="center" as ei %}
		<img src="{{ ei.url }}" width="{{ ei.width }}"
		height="{{ ei.height }}"/>
		{% endthumbnail %}
		<p>
		    <span class="heading">{{ event.title }}</span><br/>
		    <span>{{ event.description }}</span><br/>
		    <span class="date">{{ event.date }}</span>
		</p>
	    </div>
	    {% endfor %}
	{% endif %}
    </div>
</div>
{% endblock %}
