{% extends "base.html" %}

{% block app_body %}
    <div class="help thirteen columns">
	<h2>Help</h2>
	<hr class="half-bottom"/>
	<h4>Getting your voice on the Voice Bank</h4>
	<p>Getting your voice on the voice bank is a simple four step approach:</p>
	<ul>
	    <li>Step 1: Registering on the Voice Bank</li>
	    <li>Step 2: Payment Process</li>
	    <li>Step 3: Booking for your recording</li>
	    <li>Step 4: Uploading your voice clip</li>
	</ul>
	<p>Please click <a href="#">here</a> to download a complete guide (PDF)</p>
	<h4>Registering on the Voice Bank</h4>
	<h4>Payment Process</h4>
	<h4>Voice bank subscription cost</h4>
	<h4>Booking for your recording</h4>
	<h4>What to bring to the recording</h4>
	<h4>Renewals</h4>
	<h4>Uploading your voice clips</h4>
    </div>
    <div class="three columns pane">
	&nbsp;
    </div>
{% endblock %}
