{% extends "base.html" %}

{% block swf_banner %}{% endblock %}

{% block nav %}
<div class="nav">
    <ul>
	<li><a href="{% url home %}">Home</a></li>
	<li><a href="{% url how %}" class="current">How it works</a></li>
    {% if user.is_authenticated %}
	<li><a href="{% url profile_edit %}">Profile</a></li>
	<li><a href="{% url logout %}">Logout</a></li>
    {% else %}
	<li><a href="{% url join %}">Join</a></li>
	<li><a href="{% url login %}">Login</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}

{% block app_body %}
<div class="leftdiv">
    <div class="inner how">
	<img src="{{ MEDIA_URL }}img/steps.png" width="700px"/>

    <div class="clear pad2"></div>


    <ul class="tabs">
    <li><a href="#registering">Registering on the Voice Bank</a></li>
    <li><a href="#payment_process">Payment Process</a></li>
    <li><a href="#subscription_cost">Voice Bank Subscription Cost</a></li>
    <li><a href="#booking">Booking for your recording</a></li>
    <li><a href="#what_to_bring">What to bring to the recording</a></li>
    <li><a href="#renewals">Renewals</a></li>
    </ul>

    <div class="tab_container">
    <div class="tab_content" id="registering">
    <h3>Registering On the Voice Bank</h3>

    <h4>STEP 1</h4>
    <p>The first step of registering your voice on the voice bank is to join by clicking the join link on the top right corner of the site.</p>

    <p>This allows you to generate a username and password, using your already existing email account and a new password.</p>

    <p>Go to <a href="http://www.nigerianvoicebank.com">http://www.nigerianvoicebank.com</a><br/>
    Click on Join<br/>
    Complete the registration form<br/>
    </p>

    <p>After completing the registration form you click on join.</p>

    <h4>STEP 2</h4>
    <p>Proceed to update your profile and and upload your profile picture. Remember to provide your correct contact informations.</p>

    <h4>STEP 3</h4>
    <p>The next step will be to upload your voice clip if you already have them and if you don't, then you need to book for your recording.</p>

    <h4>STEP 4</h4>
    <p>To book for your recording send a mail to <a href="mailto:customercare@nigerianvoicebank.com">customercare@nigerianvoicebank.com</a> with your name, phone number, location and the word VOICE RECORDING. You can also send us a text or just call our customer care lines on 08092796787 or 07044700254.</p>

    <p><strong>Note: All voice clips should be in MP3 format and max of 60 seconds long.</strong></p>

    <h4>STEP 5</h4>
    <p>Before your voice clips or showcase clips can be recorded at our studios, you must have paid for your subscription. Your voice clips will not be activated on the site until your subscriptions have been received.</p>
    <p>You can upload as many as 10 voice clips or showcase clips on the voice bank.</p>

    <p><strong>"YOUR VOICE CLIPS WILL BE ACTIVATED ON THE SITE AFTER YOU HAVE PAID FOR YOUR SUBSCRIPTION"</strong></p>

    <p>Please contact 07044770254, 08092796787 or <a href="mailto:customercare@nigerianvoicebank.com">customercare@nigerianvoicebank.com</a> for assistance send us a mail</p>

    </div>

    <div class="tab_content" id="payment_process">
    <h3>Payment Process</h3>

    <p>The full subscription amount for your preferred plan must be paid into any of our account before your voice clips can be activated. We reserve the right to refund any subscription that does not meet our standard.</p>

    <p><strong>Account Name:</strong> Flame Media Works<br/>
    <strong>Bank Name:</strong> Guaranty Trust Bank<br/>
    <strong>A/C No:</strong> 226908063110<br/>
    <strong>Branch:</strong> Festac Town.<br/></p>

    <p>OR</p>

    <p><strong>Account Name:</strong> Flame Media Works<br/>
    <strong>Bank Name:</strong> Access Bank<br/>
    <strong>A/C No:</strong> 0008471860<br/>
    <strong>Branch:</strong> Festac Town.<br/></p>

    <p>Please look through the Voice Bank subscription details because subscription plans differ depending on your preferred plan.</p>

    <p><strong>NOTE:</strong> The name and contact details on the payment teller should be same as the name used during registration on the Voice bank. You will receive confirmation of payment within 48 hours.</p>

    <p>If confirmation is not received within 48 hours, call our customer care lines on 07044700254, 08092796787 or send a mail to customercare@nigerianvoicebank.com for assistance.</p>

    </div>

    <div class="tab_content" id="subscription_cost">
    <h3>Voice Bank Subscription Cost</h3>
    <p>
    Now that you have registered on the Voice Bank the next step is
    to subscribe for a plan. There are three subscription plans on
    the voice bank:
    </p>

    <ul>
    <li>Premium Subscription</li>
    <li>General Subscription</li>
    <li>Kids Subscription</li>
    </ul><br/>

    <p>To get your voice on the site, you may choose from the following
    plans.</p>

    <table>
    <tbody><tr>
    <th>Subscription Plan</th>
    <th>Benefits</th>
    <th>Amount (Naira)</th>
    </tr>
    <tr>
    <td>Premium (Artist 13 years and above)</td>
    <td>
    One year Subscription with the recording and hosting of
    two voice clips. Maximum length for each clip is
    60secs.
    </td>
    <td>7000</td>
    </tr>
    <tr>
    <td>General (Artist 13 years and above)</td>
    <td>
    One year Subscription with the recording and hosting of
    one voice clips. Maximum length for each clip is 60secs.
    </td>
    <td>5000</td>
    </tr>
    <tr>
    <td>Kids (Artist below 13)</td>
    <td>
    One year subscription with the recording and hosting of
    2 voice clip. Maximum length for each clip is 60secs.
    </td>
    <td>2500</td>
    </tr>
    </tbody></table>

    <div class="clear pad2"></div>

    <h4>Additional Subscription</h4>
    <p>
    You can host up to ten voice clips. Each additional voice clip,
    attracts an extra cost of two thousand five hundred naira each (#2,500)
    All the above include:
    </p>

    <ul>
    <li>Hosting of your voice on the site for one year.</li>
    <li>The recording of your voice clips in a professional studio
    except for General subscription</li>
    <li>Promotion of your voice in our most recent artist section
    only for full subscription</li>
    <li>Your own page and address on the site.</li>
    <li>Your picture, biography and profile on your page.</li>
    </ul>
    </div>

    <div class="tab_content" id="booking">
    <h3>Booking For Your Recording</h3>

    <p>Before your booking can be accepted, you must have signed up and created your profile and made payment for your preferred subscription plan.</p>

    <p>To book for your recording send a mail to <a href="mailto:customercare@nigerianvoicebank.com">customercare@nigerianvoicebank.com</a> with your name, phone number, location and the word VOICE RECORDING. You can also send us a text or just call our customer care lines on 08092796787 or 07044700254.</p>

    <p>You will receive a confirmation mail, text and call informing you of the date, time and location for your recording.</p>

    <p>Should you be unable to attend the recording that have been scheduled for you, please notify us at least 24 hours in advance so we can arrange a new date for you.</p>

    <p>If you fail to cancel your booking 48 hours before the scheduled session, you will be charged one thousand naira for the recording of each voice clip.</p>

    </div>

    <div class="tab_content" id="what_to_bring">
    <h3>What to bring to the recording</h3>

    <p>The voice artist should come to the recording with their scripts. These scripts should have been properly rehearsed before recording day.</p>

    <p>Remember each voice clip requires a script. Apparently, if you are only recording 2 clips then you only need 2 scripts.</p>

    <p><strong>The Nigerian Voice bank will not supply scripts!</strong></p>

    <p>All scripts are to be delivered within 60 seconds. Scripts should be original or reworked, using fictitious brand names and company names. Voice artists should respect copyright laws.</p>

    <p><strong>The Nigerian Voice Bank will not take responsibility for any legal issues emanating from content supplied by any artist.</strong></p>

    <p>Please ensure that you are prepared for the recording and that you have rehearsed your scripts!</p>

    <p>
    If for any reason the Nigerian Voice Bank considers your voice clip not suitable or too inexperienced, the Nigerian voice bank reserves the right to decline your subscription. In this case your subscription fee will be refunded.
    </p>


    </div>

    <div class="tab_content" id="renewals">
    <h3>Renewals</h3>

    <p><strong>Subscription on the Nigerian Voice Bank is valid for 1 year from the day your Voice clips is uploaded to the website.</strong></p>

    <p>Notification will be sent to you periodically via email or SMS with instructions on how to renew your subscription.</p>

    <p>If you fail to renew your subscription, you will receive an email on the expiry date informing you that your subscription has expired. Your account will then be deleted from the website.</p>

    <p>The cost to renew your subscription for another year is just 1000 Naira. The renewal fee allows you to keep your existing clips on the website for another year.</p>

    <p>If you would like to replace your existing clips that will be done for 1000 Naira per clip.</p>
    </div>

    </div>



    </div>
</div> <!--/leftdiv-->
{% endblock %}

{% block custom_js %}
    <script src="{{ MEDIA_URL }}js/jquery-tabs.js"></script>
{% endblock %}
