{% extends "sidebar_base.html" %}

{% block page_title %}&mdash; How It Works{% endblock %}

{% block banner %}
<div class="container-fluid">
  <div class="about-banner row">
    <div class="content">
      <img src="{{ STATIC_URL }}images/about_banner.jpg" class="img-responsive">
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="page-header">
  <h1>How It Works</h1>
</div>

<h2>Registering On The Voice Bank</h2>

<h3>STEP 1</h3>
<p>
	The first step of registering your voice on the voice bank is to join by clicking the <a href="{% url 'join' %}">Sign Up</a> 
	link on the top right corner of the site. This allows you to generate a username and password, using your already existing 
	email account and a new password.
<p>
<ul>
	<li>Go to <a href="http://www.nigerianvoicebank.com">http://www.nigerianvoicebank.com</a></li>
	<li>Click on <a href="{% url 'join' %}">Sign Up</a>.</li>
	<li>Complete the Sign Up form and Submit.</li>
</ul>

<h3>STEP 2</h3>
<p>
	Proceed to update your profile and and upload your profile picture. Remember to provide your correct contact information.
</p>

<h3>STEP 3</h3>
<p>
	The next step will be to upload your voice clips if you already have them. You may choose to record your voice demo at our 
	studio.
</p>

<h2>Recording Your Voice Demo</h2>

<p>
	You can record your voice demo at any studio of your choice and upload on our website. Your voice demo must be in MP3 format and not more than 60 seconds.
</p>
	        
<h2>Recording At Our Studio</h2>

<p>
	To book your recording, send a mail to <a href="mailto:customercare@nigerianvoicebank.com">customercare@nigerianvoicebank.com</a> 
	with your name, phone number, location and the word VOICE RECORDING. You can also send us an SMS or just call our customer care 
	lines on 08092796787 to book a session.
</p>
<ul>
	<li>Joining the Nigerian Voice Bank is free. This includes the hosting of your voice demos.</li>
	<li>You can upload as many as 5 voice demos on the voice bank.</li>
	<li>Please contact 08092796787 or customercare@nigerianvoicebank.com for assistance.</li>
  <li>Recording your voice demo at our studio will cost you 5000 Naira although terms and conditions apply.</li>
</ul>

<h3>Terms &amp; Conditions</h3>

<ul>
	<li>This offer is only open to local voice talents who want to upload their voice demo on <a href="http://nigerianvoicebank.com">www.nigerianvoicebank.com</a></li>
	<li>Each voice demo must not be more than 60 seconds long.</li>
	<li>Each session will only last one hour.</li>
</ul>
{% endblock %}