{% extends "base.html" %}

{% block app_body %}
    <div id="steps" class="sixteen columns pane rounded add-bottom">
	<div class="wrap">
	    <h4>Getting your voice on the voice bank</h4>
	    <img src="{{ MEDIA_URL }}img/steps.png" alt="(1)Login; (2)Create
	profile; (3)Record your voice; (4)Upload; (5)Subscribe" title="(1)Login; (2)Create profile; (3)Record your voice; (4)Upload; (5)Subscribe"/>
	</div>
    </div>
    <div class="five columns pane add-bottom" style="height: 228px;">
	<ul id="menu_how">
	    <li><a href="#">Registering on the Voice Bank</a></li>
	    <li><a href="#">Payment Process</a></li>
	    <li><a href="#">Voice Bank Subscription Cost</a></li>
	    <li><a href="#">Booking for your recording</a></li>
	    <li><a href="#">What to bring to the recording</a></li>
	    <li><a href="#">Renewals</a></li>
	    <li><a href="#">Uploading your Voice Clips</a></li>
	</ul>
    </div>
    <div class="six columns pane add-bottom">
	<blockquote>
	    <p>
		Subscribe to the Nigerian Voice Bank between November 1 and
		December 16 and get two voice clips recorded for free at our partner
		studios when you book your recording online.
	    </p>
	    <a href="#"><img src="{{ MEDIA_URL }}img/booking.png" alt="Book for your recording
	    here" title="Book for your recording here"/></a>
	</blockquote>
    </div>
    <div class="five columns pane add-bottom" style="height: 228px;">&nbsp;</div>
{% endblock %}
{% block adspace %}{% endblock %}
