{% extends "sidebar_base.html" %}

{% block page_title %}&mdash; How It Works{% endblock %}

{% block banner %}
<div class="container-fluid">
  <div class="about-banner row">
    <div class="content">
      <img src="{{ STATIC_URL }}images/about_banner.jpg" class="img-responsive">
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="page-header">
  <h1>How It Works</h1>
</div>

<p>The <span class="bold-italic">Simplest</span> way to <span class="bold-italic">Produce</span> voice over jobs in <span class="bold-italic">Nigeria</span> is just <span class="bold-italic">3 steps</span>.</p>

<h3>Find Voice</h3>
<p>
	Browse through our collection of professional voice over talents on <a href="http://nigerianvoicebank.com">www.nigerianvoicebank.com</a>.
	Find the perfect voice for your project or ask us to send you voice samples.
</p>

<h3>Request a quote</h3>
<p>Now that you have found your preferred voice, the next step is to request a quote. Please note that we handle both casting and production.</p>
<p>We are always excited to send you a quote, so request one today.</p>

<h3>Produce</h3>
<p>
	Now that you have found your preferred voice and we have agreed on the production cost, the next step is to tell us when you will like to record. We will then ensure that the studio and talent is made available for you. During Production you can listen in to direct via skype, attend the recording physically or just trust our creative directors.
</p>
<p>
	That&apos;s how simple it is to produce a professional voice over job in Nigeria using the Nigerian Voice Bank. It’s like ordering a pizza or a bowl of jollof rice.
</p>
{% endblock %}