{% extends "base.html" %}

{% block app_body %}
    <div class="five columns pane add-bottom" style="height: 380px;">
	<ul id="menu_how">
	    <li><a href="{% url registering %}">Registering on the Voice Bank</a></li>
	    <li><a href="{% url payment_process %}">Payment Process</a></li>
	    <li><a href="{% url subscription_cost %}">Voice Bank Subscription Cost</a></li>
	    <li><a href="{% url booking %}">Booking for your recording</a></li>
	    <li><a href="{% url what_to_bring %}">What to bring to the recording</a></li>
	    <li><a href="{% url renewals %}">Renewals</a></li>
	</ul>
    </div>
    <div class="eleven columns pane add-bottom">
	<div class="wrap">
	    <h4>Registering On the Voice Bank</h4>
	    <hr class="half-bottom"/>
	    <h5>STEP 1</h5>
	    <p>
		The first step of registering your voice on the voice bank is to join by clicking the join link on the top right corner of the site.
	    </p>
	    <p>
		This allows you to generate a username and password, using your already existing email account and a new set of password.
	    <ul>
		<li>Go to <a
		    href="http://www.nigerianvoicebank.com">http://www.nigerianvoicebank.com</a></li>
		<li>Click on Join</li>
		<li>Complete the registration form</li>
	    </ul>
		After completing the registration form you click on join.
	    </p>
	    <h5>STEP 2</h5>
	    <p>Proceed to update your profile and and upload your profile
	    picture. Remember to
	    provide your correct contact informations.</p>
	    <h5>STEP 3</h5>
	    <p>The next step will be to upload your voice clip if you already
	    have them and if you don’t,
	    then you need to book for your recording.</p>
	    <h5>STEP 4</h5>
	    <p>
		To book for your recording send a mail to
		<a
		    href="mailto:customercare@nigerianvoicebank.com">customercare@nigerianvoicebank.com</a> with
		your name, phone number, location and the word VOICE RECORDING.
		You can also send us a text or just call our customer care lines
		on 08092796787 or 07044700254.<br/>
		<strong>Note:</strong> All voice clips should be in MP3 format and max of
		60 seconds long.
	    </p>
	    <h5>STEP 5</h5>
	    <p>
		Before your voice clips or showcase clips can be recorded at our
		studios, you must have
		paid for your subscription. Your voice clips will not be
		activated on the site until your
		subscriptions have been received.<br/>
		You can upload as many as 10 voice clips or showcase clips on
		the voice bank.
	    </p>
	    <blockquote>
		“YOUR VOICE CLIPS WILL BE ACTIVATED ON THE SITE AFTER YOU
		HAVE PAID FOR YOUR SUBSCRIPTION”
	    </blockquote>
	    <p>
		Please contact 07044770254, 08092796787 or
		<a
		    href="mailto:customercare@nigerianvoicebank.com">customercare@nigerianvoicebank.com</a> for assistance send us a mail
	    </p>
	</div>
    </div>
{% endblock %}
{% block adspace %}{% endblock %}
