{% extends "base.html" %}

{% block app_body %}
    <div class="five columns pane add-bottom" style="height: 380px;">
	<ul id="menu_how">
	    <li><a href="{% url registering %}">Registering on the Voice Bank</a></li>
	    <li><a href="{% url payment_process %}">Payment Process</a></li>
	    <li><a href="{% url subscription_cost %}">Voice Bank Subscription Cost</a></li>
	    <li><a href="{% url booking %}">Booking for your recording</a></li>
	    <li><a href="{% url what_to_bring %}">What to bring to the recording</a></li>
	    <li><a href="{% url renewals %}">Renewals</a></li>
	</ul>
    </div>
    <div class="eleven columns pane add-bottom">
	<div class="wrap">
	    <h4>Renewals</h4>
	    <hr class="half-bottom"/>
	    <p><strong>Subscription on the Nigerian Voice Bank is valid for 1 year from the
		day your Voice clips is uploaded to the website.</strong>

	    <p>Notification will be sent to you periodically via email or
	    SMS with instructions on how to renew your subscription.</p>

	    <p>If you fail to renew your subscription, you will receive
			an email on the expiry date
			    informing you that your subscription has expired.
			    Your account will then be deleted from the
			    website.</p>

	    <p>The cost to renew your subscription for another
				year is just 1000 Naira. The
				    renewal fee allows you to keep your existing
				    clips on the website for
				    another year.</p>

	    <p>If you would like to replace your
					    existing clips that will be done for
					    1000 Naira per clip.</p>
	</div>
    </div>
{% endblock %}
{% block adspace %}{% endblock %}
