{% extends "base.html" %}

{% block app_body %}
    <div class="five columns pane add-bottom" style="height: 380px;">
	<ul id="menu_how">
	    <li><a href="{% url registering %}">Registering on the Voice Bank</a></li>
	    <li><a href="{% url payment_process %}">Payment Process</a></li>
	    <li><a href="{% url subscription_cost %}">Voice Bank Subscription Cost</a></li>
	    <li><a href="{% url booking %}">Booking for your recording</a></li>
	    <li><a href="{% url what_to_bring %}">What to bring to the recording</a></li>
	    <li><a href="{% url renewals %}">Renewals</a></li>
	</ul>
    </div>
    <div class="eleven columns pane add-bottom">
	<div class="wrap">
	    <h4>Voice Bank Subscription Cost</h4>
	    <hr class="half-bottom"/>
	    <p>
		Now that you have registered on the Voice Bank the next step is
		to subscribe for a plan. There are three subscription plans on
		the voice bank:
	    </p>
	    <ul>
		<li>Premium Subscription</li>
		<li>General Subscription</li>
		<li>Kids Subscription</li>
	    </ul><br/>
	    <p>To get your voice on the site, you may choose from the following
	    plans.</p>
	    <table>
		<tr>
		    <th>Subscription Plan</th>
		    <th>Benefits</th>
		    <th>Amount (Naira)</th>
		</tr>
		<tr>
		    <td>Premium (Artist 13 years and above)</td>
		    <td>
			One year Subscription with the recording and hosting of
			four voice clips. Maximum length for each clip is
			60secs.
		    </td>
		    <td>4000</td>
		</tr>
		<tr>
		    <td>General (Artist 13 years and above)</td>
		    <td>
			One year Subscription with the recording and hosting of
			two voice clips. Maximum length for each clip is 60secs.
		    </td>
		    <td>3000</td>
		</tr>
		<tr>
		    <td>Kids (Artist below 13)</td>
		    <td>
			One year subscription with the recording and hosting of
			2 voice clip. Maximum length for each clip is 60secs.
		    </td>
		    <td>2500</td>
		</tr>
	    </table>
	    <h5>Additional Subscription</h5>
	    <p>
		You can host up to ten voice clips. Each additional voice clip,
		attracts an extra cost of one thousand naira each (#1,000)
		All the above include:
		<ul>
		    <li>Hosting of your voice on the site for one year.</li>
		    <li>The recording of your voice clips in a professional studio
		    except for General subscription</li>
		    <li>Promotion of your voice in our most recent artist section
		    only for full subscription</li>
		    <li>Your own page and address on the site.</li>
		    <li>Your picture, biography and profile on your page.</li>
		</ul>
	    </p>
	</div>
    </div>
{% endblock %}
{% block adspace %}{% endblock %}
