/* 
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */

body	{
    background: #e0e0e0 url('../img/header_bg.png') repeat-x;
}
#header	{
    z-index: 9;
    height: 80px;
}
#header h1  {
    display: none;
}
#header .top {
    float: right;
}
.login {
    display: none;
}
.top {
	margin: 20px 0px 0px 0px;
}
a:link	{
	text-decoration: none;
	color: #449636;
}
a:visited {
	color: #449636;
}
.rounded    {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.wrap	{
    margin: 0 10px;
    padding: 0.1em 0 0.3em;
}
form .wrap  {
    margin: 0 35px;
    padding: 0.3em 0 0.3em;
}
#pro .wrap, #all .wrap	{
    padding: 0.3em 0 0.1em;
}
.tabs-content .wrap  {
    padding: 1em 0;
}
#pro a, #all a	{
    display: block;
}
.pane	{
    background: #fff;
}
hr  {
    border-color: #a1a1a1;
}
.wrap hr    {
    margin: 0;
    border-color: #ccc;
}
h5  {
    font-weight: bold;
}
#steps	{
    text-align: center;
}
blockquote  {
    border: none;
    text-align: center;
    height: 200px;
}
blockquote p	{
    color: #000;
}
ul li ul li a	{
    font-size: 110%;
}
#menu_how   {
    padding: 0;
}
#menu_how li, #menu_how a   {
    margin: 0;
    padding: 0;
}
#menu_how a {
    display: block;
    padding: 5px;
    border-bottom: solid 1px #e0e0e0;
}
.clips span, .small-font    {
    font-size: 12px;
}


.categories-list    {
    padding: 0.5em 0;
}
.categories-list ul .wrap   {
/*    margin: 0 -4px 0 4px;*/
}
.categories-list ul li a    {
    float: left;
    margin-left: 20px;
    width: 140px;
    text-align: center;
}
.categories-list a img	{
    display: block;
    margin: 10px auto;
}
.categories-list a span	{
    font-size: 12px;
}


ul.nav li   {
    display: inline;
    text-align: center;
}
ul.nav li a	{ padding: 3px 10px; }
ul.nav>:first-child a	{ padding-left: 0 }
.wrap ul	{ margin-bottom: 0; }
.wrap ul li	{ margin-bottom: 5px; }
ul.errorlist	{ margin: 0; }
ul.errorlist li	{ margin: 3px 0; }
form span.help, .errorlist	{ font-style: italic; font-size: 82% }
form span.help	{ color: green; }
.errorlist	{ color: red }
.fullname	{ text-transform: capitalize; }
.display-picture    { border: solid 1px #fff }
.italic	    { font-style: italic }
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { display:inline-block; }
input[type=text], input[type=password], textarea    {
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
    -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
    -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
    box-shadow        : 0 2px 5px rgba(0,0,0,.15);
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
