{% extends "base_inner.html" %}

{% block page_url %}<meta property="og:url" content="http://nigerianvoicebank.com{{ request.path }}" />{% endblock %}

{% load thumbnail %}

{% block app_body %}
<div class="leftdiv">
    <div class="article">
	<div class="image">
	{% thumbnail flatpage.article.image "670x300" crop="center" as fai %}
	    <img src="{{ fai.url }}" width="{{ fai.width }}" height="{{ fai.height }}"/>
	{% endthumbnail %}
	</div>	
	<div class="text">
	    <h3>{{ flatpage.article.title }}</h3>
	    <!--<div class="fb-like" data-href="{{ SITE_URL }}{{ request.path }}" 
		data-send="false" data-width="450"></div>-->
	    <!-- AddThis Button BEGIN -->
	    <div class="addthis_toolbox addthis_default_style">
	    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	    <a class="addthis_button_tweet"></a>
	    </div>
	    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5190cafc142b9d5a"></script>
	    <!-- AddThis Button END -->
	    <p>{{ flatpage.article.content|safe }}</p>
	</div>
	<div class="ad">&nbsp;</div>
	{% if flatpage.enable_comments %}
	<div class="fb-comments" 
	    data-href="{{ SITE_URL }}{{ request.path }}" data-width="700" data-num-posts="10"></div>
	{% endif %}
    </div>
</div>
{% endblock %}
