{% extends "base_inner.html" %}

{% load thumbnail %}

{% block app_body %}
<div class="leftdiv">
    <div class="article">
	<div class="image">
	{% thumbnail flatpage.article.image "670x300" crop="center" as fai %}
	    <img src="{{ fai.url }}" width="{{ fai.width }}" height="{{ fai.height }}"/>
	{% endthumbnail %}
	</div>	
	<div class="text">
	    <h3>{{ flatpage.article.title }}</h3>
	    <div class="fb-like" data-href="{{ SITE_URL }}{{ request.path }}" 
		data-send="false" data-width="450"></div>
	    <p>{{ flatpage.article.content|safe }}</p>
	</div>
	<div class="ad">&nbsp;</div>
	{% if flatpage.enable_comments %}
	<div class="fb-comments" 
	    data-href="{{ SITE_URL }}{{ request.path }}" data-width="700" data-num-posts="10"></div>
	{% endif %}
    </div>
</div>
{% endblock %}
