<!DOCTYPE HTML>
<html>
  <head>
    <title>Nigerian Voice Bank</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row banner">
        <div class="content">
          <img src="images/banner.jpg" class="img-responsive">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row main-actions">
        <div class="col-md-4">
          <div class="content img-rounded main-action">
            <img src="images/main_action.jpg" class="img-responsive img-rounded">
          </div>
        </div>
        <div class="col-md-4">
          <div class="content img-rounded main-action">
            <img src="images/main_action.jpg" class="img-responsive img-rounded">
          </div>
        </div>
        <div class="col-md-4">
          <div class="content img-rounded main-action">
            <img src="images/main_action.jpg" class="img-responsive img-rounded">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="content box">Clients</div>
        </div>
        <div class="col-md-3">
          <div class="content box">Ad</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="content clip-list">Most Recent Clips</div>
        </div>
        <div class="col-md-4">
          <div class="content clip-list">Top 5 Clips</div>
        </div>
        <div class="col-md-4">
          <div class="content small-box" style="margin-bottom: 30px;">Blog Post</div>
          <div class="content small-box">Testimonials</div>
        </div>
      </div>

      <div class="row">
        <p>Work Samples</p>
        <div class="col-md-4">
          <div class="content box">Video</div>
        </div>
        <div class="col-md-4">
          <div class="content box">Video</div>
        </div>
        <div class="col-md-4">
          <div class="content box">Video</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="content box">About Us</div>
        </div>
        <div class="col-md-3">
          <div class="content box">Connect With Us</div>
        </div>
      </div>

      <div class="row">
        <p>Services</p>
        <div class="col-md-3">
          <div class="content box">Service....Read more</div>
        </div>
        <div class="col-md-3">
          <div class="content box">Service....Read more</div>
        </div>
        <div class="col-md-3">
          <div class="content box">Service....Read more</div>
        </div>
        <div class="col-md-3">
          <div class="content box">Service....Read more</div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="footer content row">
        <div class="col-md-8">Links</div>
        <div class="col-md-4">Subscribe to newsletter</div>
      </div>
    </div>
  </body>
</html>
