<!DOCTYPE HTML>
<html>
  <head>
    <title>Nigerian Voice Bank</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="content banner">Banner</div>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="content box first-col">Find Voices</div>
        </div>
        <div class="col-md-4">
          <div class="content box">Sign Up</div>
        </div>
        <div class="col-md-4">
          <div class="content box last-col">Produce</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="content box first-col">Clients</div>
        </div>
        <div class="col-md-4">
          <div class="content box last-col">Ad</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="content clip-list first-col">Most Recent Clips</div>
        </div>
        <div class="col-md-4">
          <div class="content clip-list">Top 5 Clips</div>
        </div>
        <div class="col-md-4">
          <div class="content small-box last-col" style="margin-bottom: 30px;">Blog Post</div>
          <div class="content small-box last-col">Testimonials</div>
        </div>
      </div>

      <div class="row">
        <p>Work Samples</p>
        <div class="col-md-4">
          <div class="content box first-col">Video</div>
        </div>
        <div class="col-md-4">
          <div class="content box">Video</div>
        </div>
        <div class="col-md-4">
          <div class="content box last-col">Video</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="content box first-col">About Us</div>
        </div>
        <div class="col-md-3">
          <div class="content box last-col">Connect With Us</div>
        </div>
      </div>

      <div class="row">
        <p>Services</p>
        <div class="col-md-3">
          <div class="content box first-col">Service....Read more</div>
        </div>
        <div class="col-md-3">
          <div class="content box">Service....Read more</div>
        </div>
        <div class="col-md-3">
          <div class="content box">Service....Read more</div>
        </div>
        <div class="col-md-3">
          <div class="content box last-col">Service....Read more</div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="footer content row">
        <div class="col-md-8">Links</div>
        <div class="col-md-4">Subscribe to newsletter</div>
      </div>
    </div>
  </body>
</html>
