{% extends "base_inner.html" %}

{% block page_url %}<meta property="og:url" content="http://nigerianvoicebank.com{{ request.path }}" />{% endblock %}

{% load thumbnail %}

{% block events %}{% endblock %}

{% block app_body %}
<div class="leftdiv">
    <div class="inner">
	<h3>Events</h3>
	{% if event_list %}
	    <div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
	    </div>
	    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5190cafc142b9d5a"></script>
	    <!-- AddThis Button END -->
	    {% for event in event_list %}
	    <div class="ev">
		{% thumbnail event.image "50x50" crop="center" as ei %}
		<img src="{{ ei.url }}" width="{{ ei.width }}"
		height="{{ ei.height }}"/>
		{% endthumbnail %}
		<p>
		    <span class="heading">{{ event.title }}</span><br/>
		    <span>{{ event.description }}</span><br/>
		    <span class="date">{{ event.date }}</span>
		</p>
	    </div>
	    {% endfor %}
	{% else %}
	    <p>There are no events.</p>
	{% endif %}
	{% if is_paginated %}
	<div class="pagenav">
	    {% if page_obj.has_previous %}
	    <a href="?page={{ page_obj.previous_page_number }}" class="more left">Previous</a>
	    {% endif %}
	    {% if page_obj.has_next %}
	    <a href="?page={{ page_obj.next_page_number }}" class="more right">Next</a>
	    {% endif %}
	</div>
	{% endif %}
    </div>
</div>
{% endblock %}
